.modal-dialog
  .modal-content
    = form_for [procedure, note], {remote: true, html: {class: "form-horizontal", role: "form"}} do |p|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only= t(:actions)[:close]
        %h4.modal-title.text-center= t(:notes)[:new_header]
      .modal-body
        .form-group
          = p.label "comment", t(:notes)[:note], class: "col-sm-3 control-label"
          .col-sm-8= p.text_area "comment", {class: 'form-control', rows: "6"}
      .modal-footer
        .center-block{style: "width: 205px;"}
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]
          %input.btn.btn-primary{type: 'submit', value: t(:actions)[:save]}