-# Copyright © 2011-2016 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.modal-dialog
  .modal-content
    = form_for note, {remote: true, html: {class: "form-horizontal", role: "form"}} do |form|
      = form.hidden_field :notable_type
      = form.hidden_field :notable_id
      = form.hidden_field :kind
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only
            = t(:actions)[:close]
        %h4.modal-title.text-center
          = t(:notes)[:new_header]
      .modal-body
        - if note.notable.present?
          - if note.reason?
            .form-group
              = form.label "reason", t(:notes)[:reason], class: "col-sm-3 control-label"
              .col-sm-8
                = form.select :reason, note.notable.class::NOTABLE_REASONS, {}, class: "form-control"
          - elsif note.followup?
            = form.fields_for note.notable do |notable_form|
              .form-group
                = notable_form.label "followup", t(:notes)[:followup], class: "col-sm-3 control-label"
                .col-sm-8
                  = notable_form.text_field :follow_up_date, {class: 'form-control', data: {provide: "datepicker", 'date-format' => 'yyyy-mm-dd'}}
        .form-group
          = form.label "comment", t(:notes)[:comment], class: "col-sm-3 control-label"
          .col-sm-8
            = form.text_area :comment, {class: 'form-control', rows: "6"}
      .modal-footer
        .center-block
          %button.btn.btn-default.note.cancel{type: 'button', data: {notable_id: note.notable_id, notable_type: note.notable_type}}
            = t(:actions)[:cancel]
          %input.btn.btn-primary{type: 'submit', value: t(:actions)[:save]}
