.modal-dialog
  .modal-content
    .modal-header
      %button.close{type: 'button', data: {dismiss: 'modal'}}
        %span{aria: {hidden:'true'}} &times;
        %span.sr-only= t(:actions)[:close]
      %h4.modal-title.text-center= t(:task_index)[:show_title]
    .modal-body
      %dl.dl-horizontal
        %dt
          = t(:task_index)[:identity_name]
        %dd
          = task.identity.full_name
        %dt
          = t(:task_index)[:assignee_name]
        %dd
          = task.assignee.full_name
        %dt
          = t(:task_index)[:assignable_type]
        %dd
          = task.assignable_type
        %dt
          = t(:task_index)[:due_at]
        %dd
          = format_date(task.due_at)
        %dt
          = t(:task_index)[:completed]
        %dd
          = task.complete
        %dt
          = t(:task_index)[:participant][:full_name]
        %dd
          = task.assignable.participant.full_name
        %dt
          = t(:task_index)[:protocol][:short_title]
        %dd
          = task.assignable.protocol.short_title
        %dt
          = t(:task_index)[:visit][:id]
        %dd
          = task.assignable.visit_group.name
        %dt
          = t(:task_index)[:arm][:name]
        %dd
          = task.assignable.arm.name
        %dt
          = t(:task_index)[:procedure][:name]
        %dd
          = task.assignable.service_name
      %dl.dl-horizontal
        %dt
          = t(:task_index)[:body]
        %dd
          = task.body
    .modal-footer
      .center-block
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}
          = t(:actions)[:close]
