-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.w-100#tasksList
  .card
    .card-header.bg-primary.text-white
      %h3.mb-0
        = t('task.table.header')
    #tasksToolbar
      = link_to new_task_path, remote: true, class: 'btn btn-success' do
        = succeed t('task.new_task') do
          = icon('fas', 'plus mr-2')
      = check_box_tag :complete, '', false, { id: 'completeToggle', data: { toggle: 'toggle', on: t('task.show_complete'), off: t('task.show_incomplete'), onstyle: 'success', style: 'ml-2' } }
      = check_box_tag :all_tasks, '', false, { id: 'allTasksToggle', data: { toggle: 'toggle', on: t('task.all_tasks'), off: t('task.my_tasks'), onstyle: 'success', style: 'ml-2' } }
    %table.tasks#tasks{ data: { toggle: 'table', search: 'true', show_columns: 'true', show_refresh: 'true', url: tasks_path(scope: 'mine', format: :json), sort_name: 'due_at', sort_order: 'asc', striped: 'true', toolbar: '#tasksToolbar', show_export: 'true', export_types: ['json', 'xml', 'csv', 'txt', 'sql'], export_options: "{\"ignoreColumn\": [\"reschedule\"]}", undefined_text: ""} }
      %thead
        %tr
          %th.w-10{ data: { field: 'protocol_id', align: 'center', visible: 'false', sortable: 'true' } }
            = Protocol.human_attribute_name(:id)
          %th.w-12{ data: { field: 'identity_name', align: 'left', sortable: 'true' } }
            = t('task.identity_name')
          %th.w-12{ data: { field: 'assignee_name', align: 'left', sortable: 'true' } }
            = t('task.assignee_name')
          %th.w-10{ data: { field: 'assignable_type', align: 'left', sortable: 'true' } }
            = t('task.assignable_type')
          %th.w-31{ data: { field: 'body', align: 'left', sortable: 'true', cell_style: 'tasksBodyCellStyle' } }
            = Task.human_attribute_name(:body)
          %th.w-15{ data: { field: 'due_at', align: 'left', sortable: 'true', sorter: 'dueDateSorter' } }
            = Task.human_attribute_name(:due_at)
          %th.w-10.complete{ data: { field: 'complete', align: 'center' } }
            = t('task.completed')
          %th.w-10.reschedule{ data: { field: 'reschedule', align: 'center' } }
            = t('task.reschedule')
          %th.w-10{ data: { field: 'organization', align: 'left', visible: 'false', sortable: 'true' } }
            = t('procedure.prog_core')
