.modal-dialog
  .modal-content
    = form_for task, {remote: true, html: {class: "form-horizontal", role: "form"}} do |t|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only= t(:actions)[:close]
        %h4.modal-title.text-center= t(:task)[:reschedule]
      .modal-body
        .form-group
          = t.label "due_at", t(:task)[:due_at], class: "col-sm-4 control-label"
          .col-sm-7
            = t.text_field "due_at", {id: 'reschedule_datepicker', class: 'form-control datetimepicker', value: format_date(task.due_at), readonly: true}
      .modal-footer
        .center-block
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]
          %button.btn.btn-primary{type: 'submit'}=t(:actions)[:save]
