.modal-dialog
  .modal-content
    = form_for task, {remote: true, html: {class: "form-horizontal", role: "form"}} do |f|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only= t(:actions)[:close]
        %h4.modal-title.text-center= t(:task_index)[:create_task]
      .modal-body
        #modal_errors
        .row
          .col-md-12
            .form-group
              = f.label "user_id", t(:task_index)[:user_name], class: "col-sm-4 control-label"
              .col-sm-7= f.text_field "user_id", {class: 'form-control', disabled: true, value: current_user.full_name}
            .form-group
              = f.label "task_type", t(:task_index)[:task_type], class: "col-sm-4 control-label"
              .col-sm-7= f.select "task_type", Task::TASK_TYPES, { include_blank: true }, { class: "form-control" }
            .form-group
              = f.label "participant_name", t(:task_index)[:participant_name], class: "col-sm-4 control-label"
              .col-sm-7= f.text_field "participant_name", { class: "form-control" }
            .form-group
              = f.label "protocol_id", t(:task_index)[:protocol_id], class: "col-sm-4 control-label"
              .col-sm-7= f.text_field "protocol_id", { class: "form-control" }
            .form-group
              = f.label "visit_name", t(:task_index)[:visit_name], class: "col-sm-4 control-label"
              .col-sm-7= f.text_field "visit_name", { class: "form-control" }
            .form-group
              = f.label "arm_name", t(:task_index)[:arm_name], class: "col-sm-4 control-label"
              .col-sm-7= f.text_field "arm_name", { class: "form-control" }
            .form-group
              = f.label "task", t(:task_index)[:task], class: "col-sm-4 control-label"
              .col-sm-7= f.text_field "task", { class: "form-control" }
            .form-group
              = f.label "assignee_id", t(:task_index)[:assignee_name], class: "col-sm-4 control-label"
              .col-sm-7= f.select "assignee_id", options_from_collection_for_select(User.all, 'id', 'full_name'), { include_blank: true }, { class: "form-control" }
            .form-group
              = f.label "follow_up_date", t(:task_index)[:due_date], class: "col-sm-4 control-label"
              .col-sm-7
                .input-group.date
                  = f.text_field "due_date", {class: 'form-control', value: format_date(task.due_date)}
                  %span.input-group-addon
                    %span.glyphicon.glyphicon-calendar
      .modal-footer
        .center-block
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]
          %input.btn.btn-primary{type: 'submit', value: t(:actions)[:save]}