.modal-dialog
  .modal-content
    = form_for procedure, {remote: true, url: "/appointment_calendar/update_incomplete_procedure?procedure_id=#{procedure.id}", html: {class: "form-horizontal", role: 'form'}} do |p|
      .modal-header
        %button.close.close_incomplete{value: "#{procedure.id}", type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only= t(:actions)[:close]
        %h4.modal-title.text-center= t(:notes)[:incomplete_header]
      .modal-body
        .form-group
          = p.label :reason, t(:procedure)[:select_reason], class: "col-sm-4 control-label"
          .col-sm-7= p.select :reason, Procedure::REASONS, {}, {class: 'form-control'}
        = fields_for note do |n|
          .form-group
            = n.label "comment", t(:notes)[:note], class: "col-sm-4 control-label"
            .col-sm-7= n.text_area "comment", {class: 'form-control', rows: "4"}
      .modal-footer
        .center-block
          %button.btn.btn-default.close_incomplete{value: "#{procedure.id}" ,type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]
          %input.btn.btn-primary{type: 'submit', value: t(:actions)[:save]}