.row.table_row.fulfillment{data: {id: fulfillment.id}}
  .col-xs-1.text-center.fulfillment_date
    = format_date(fulfillment.fulfilled_at)
  .col-xs-2.text-center.truncate.account_number{title: fulfillment.account_number, data: {toggle: "tooltip", animation: 'false'}}
    = fulfillment.account_number
  .col-xs-1.text-center.quantity
    = fulfillment.quantity
  .col-xs-2.text-center.qty_type
    = fulfillment.line_item.quantity_type
  .col-xs-2.text-center.performed_by
    = fulfillment.performer.full_name if fulfillment.performer
  .col-xs-2.text-center.f_components
    %button.btn.btn-default.dropdown-toggle{type: "button", "aria-expanded" => "false", data: {toggle: "dropdown"}}
      = t(:fulfillment)[:components] \
      %span.caret
    %ul.dropdown-menu{role: 'menu'}
      - if fulfillment.components.empty?
        %li
          %a= t(:fulfillment)[:no_components]
      -else
        - fulfillment.components.each do |c|
          %li
            %a= c.component
  .col-xs-2.text-center.options
    %button.btn.btn-primary.notes.list{title: t(:procedure)[:notes], type: "button", aria: {label: "Notes List"}, data: {notable_id: fulfillment.id, notable_type: "Fulfillment", toggle: "tooltip", animation: 'false'}}
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
    %button.btn.btn-primary.documents.list{title: t(:documents)[:documents], type: "button", aria: {label: "Documents List"}, data: {documentable_id: fulfillment.id, documentable_type: "Fulfillment", toggle: "tooltip", animation: 'false'}}
      %span.glyphicon.glyphicon-open-file{aria: {hidden: "true"}}
    %button.btn.btn-warning.otf_fulfillment_edit{title: t(:fulfillment)[:edit], type: "button", aria: {label: "Edit Fulfillment"}, data: {toggle: "tooltip", animation: 'false'}}
      %span.glyphicon.glyphicon-edit{aria: {hidden: "true"}}
