-# Copyright © 2011-2023 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.modal-dialog.modal-xl{ role: 'document' }
  .modal-content
    .modal-header
      %h3.modal-title
        = header_text
      %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t('actions.close') } }
        %span{ aria: { hidden: 'true' } } &times;
    .modal-body.table-responsive.fulfillments-list-modal
      #fulfillmentsToolbar
        = link_to new_fulfillment_path(line_item_id: line_item.id), remote: true, class: 'btn btn-success' do
          = succeed t(:fulfillment)[:add_fulfillment] do
            = icon('fas', 'plus mr-2')
      %table.table-striped#fulfillments-table{ data: { toggle: 'table', url: fulfillments_path(format: :json, line_item_id: line_item.id), search: 'true', show_columns: 'true', show_refresh: 'true', show_toggle: 'true', striped: 'true', sort_name: 'fulfillment_date', sort_order: 'desc', toolbar: '#fulfillmentsToolbar', show_export: 'true', export_types: ['json', 'xml', 'csv', 'txt', 'sql'], undefined_text: "", export_options: "{\"ignoreColumn\": [\"actions\",\"documents\",\"invoiced\",\"credited\"]}"} }
        %thead.bg-primary.text-white
          %tr
            %th.month-year{ data: { field: 'month_year', align: 'left', sortable: 'true', sort_name: 'fulfillment_date', sorter: 'fulfillmentDateSorter'}}
              = t(:fulfillment)[:fulfillment_month_year]
            %th.fulfillment-date{ data: { field: 'fulfillment_date', align: 'left', sortable: 'true', sorter: 'fulfillmentDateSorter' } }
              = Fulfillment.human_attribute_name(:fulfilled_at)
            %th.qty{ data: { field: 'quantity', align: 'left', sortable: 'true' } }
              = Fulfillment.human_attribute_name(:quantity)
            %th.qty-type{ data: { field: 'quantity_type', align: 'left', sortable: 'true' } }
              = Fulfillment.human_attribute_name(:quantity_type)
            %th.performed-by{ data: { field: 'performed_by', align: 'left', sortable: 'true' } }
              = Fulfillment.human_attribute_name(:performed_by)
            %th.components{ data: { field: 'components', align: 'left' } }
              = Component.model_name.plural.capitalize
            %th.invoiced{ data: { field: 'invoiced', align: 'left' } }
              = Fulfillment.human_attribute_name(:invoiced)
            %th.invoiced_export.d-none{ data: { field: 'invoiced_export', switchable: 'false' } }
              = Fulfillment.human_attribute_name(:invoiced)
            %th.invoiced-date{ data: { field: 'invoiced_date', sortable: 'true',align: 'left' } }
              = Fulfillment.human_attribute_name(:invoiced_date)
            %th.credited{ data: { field: 'credited', align: 'left' } }
              = Fulfillment.human_attribute_name(:credited)
            %th.credited_export.d-none{ data: { field: 'credited_export', switchable: 'false' } }
              = Fulfillment.human_attribute_name(:credited)
            %th.notes{ data: { field: 'notes', align: 'left' } }
              = Note.model_name.plural.capitalize
            %th.documents{ data: { field: 'documents', align: 'left' } }
              = Document.model_name.plural.capitalize
            %th.actions{ data: { field: 'actions', align: 'left' } }
              = t(:actions)[:actions]

    .modal-footer
      %p.text-center.text-muted.mt-3.mb-0{ style: 'text-align: center; width: 100%' }<
        = icon('fas', 'clock mr-1')
        = t(:fulfillment)[:klok_description]
      %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
        = t('actions.close')
