.row.table_row.fulfillment{data: {id: fulfillment.id}}
  .col-xs-1.text-center.fulfillment_date
    = format_date(fulfillment.fulfilled_at)
  .col-xs-1.text-center.quantity
    = fulfillment.quantity
  .col-xs-1.text-center.qty_type
    = fulfillment.line_item.quantity_type
  .col-xs-2.text-center.performed_by
    = User.find(fulfillment.performed_by).full_name
  .col-xs-2.text-center.notes
    %button.btn.btn-primary.fulfillment_notes.list{type: "button", aria: {label: "Notes List"}}
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
  .col-xs-2.text-center.documents
    %button.btn.btn-primary.fulfillment_documents.list{type: "button", aria: {label: "Documents List"}}
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
  .col-xs-2.text-center.component
    %select.selectpicker.fulfillment_component.form-control{data: {id: fulfillment.component.id}}
      = options_from_collection_for_select(fulfillment.line_item.components, 'component', 'component', selected: fulfillment.component.component)
  .col-xs-1.text-center.li_fulfillment_edit
    %button.btn.btn-warning.otf_fulfillment_edit{type: "button", aria: {label: "Edit Fulfillment"}}
      %span.glyphicon.glyphicon-edit{aria: {hidden: "true"}}