.modal-dialog.fulfillments-list
  .modal-content
    .modal-header
      %button.close{type: 'button', data: {dismiss: 'modal'}}
        %span{aria: {hidden:'true'}} &times;
        %span.sr-only= t(:actions)[:close]
      %h4.modal-title.text-center
        = header_text
      .modal-body
        .bootstrap-table-dropdown-overflow
          #fulfillment-custom-toolbar
          %table.fulfillments{id: "fulfillments-table", data: {toggle: 'table', search: "true", "show-columns" => "true", "show-refresh" => "true", "show-toggle" => "true", url: fulfillments_path(format: :json, line_item_id: line_item.id), striped: "true", toolbar: "#fulfillment-custom-toolbar", "show-export" => "true", "export-types" => ['excel']}}
            %thead.secondary-header
              %tr
                %th{data: {class: 'fulfillment_grouper', align: "left", sortable: 'true', sorter: 'dateSorter', field: "fulfillment_grouper"}}
                  = t(:fulfillment)[:fulfillment_grouper]
                %th{data: {class: 'fulfillment_date', align: "left", sortable: 'true', sorter: "fulfillmentDateSorter", field: "fulfillment_date"}}
                  = t(:fulfillment)[:fulfillment_date]
                %th{data: {class: 'quantity', align: "left", sortable: 'true', field: "quantity"}}
                  = t(:fulfillment)[:quantity]
                %th{data: {class: 'qty_type', align: "left", sortable: 'true', field: "quantity_type"}}
                  = t(:fulfillment)[:qty_type]
                %th{data: {class: 'performed_by', align: "left", sortable: 'true', field: "performed_by"}}
                  = t(:fulfillment)[:performed_by]
                %th{data: {class: 'components', align: "center", field: "components"}}
                  = t(:fulfillment)[:components]
                %th{data: {class: 'options', align: "center", field: "options"}}
                  = t(:actions)[:actions]
        #fulfillment-klok-description
          %i{class: 'glyphicon glyphicon-time'}
          %span= t(:fulfillment)[:klok_description]
    .modal-footer
      .center-block
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}
          = t(:actions)[:close]
        %button.btn.btn-success.otf_fulfillment_new{type: "button", "aria-label" => "Add Fulfillment", data: {line_item_id: line_item.id}}
          = t(:fulfillment)[:add_fulfillment]
