.modal-dialog
  .modal-content
    = form_for fulfillment, {remote: true, html: {class: "form-horizontal fulfillment-form", role: "form"}} do |form|
      .modal-header
        %h4.modal-title.text-center="Invoiced Date"
        %button.close{"aria-label" => t(:actions)[:close], "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
      .modal-body
        #modal_errors
        = render partial: 'required_fields'
        .row.mt-3
          .col-md-12
            = form.hidden_field :line_item_id
            .form-group.row.align-items-center
              = form.label "fulfilled_at", t(:fulfillment)[:fulfillment_date]+t(:actions)[:required], class: 'control-label mb-0 col-sm-4'
              .input-group.datetimepicker.date.col-sm-8{ id: 'fulfillment_date', data: {target_input: 'nearest' }}
                = form.text_field "fulfilled_at", {class: "form-control datetimepicker-input", readonly: true, data: { target:"#fulfillment_date", toggle: 'datetimepicker' }, value: format_date(fulfillment.fulfilled_at)}
                .input-group-append{ data: { toggle: 'datetimepicker', target: '#fulfillment_date' }}
                  .input-group-text
                    %span.far.fa-calendar
