.row.table_row.line_item{data: {id: line_item.id}}
  .col-xs-1.text-center.fulfillments
    %button.btn.btn-primary.otf_fulfillments.list{title: t(:fulfillment)[:view], type: "button", aria: {label: "Fulfillments List"}, data: {toggle: "tooltip", animation: 'false'}}
      %span.glyphicon.glyphicon-chevron-right{aria: {hidden: "true"}}
  .col-xs-2.text-center.truncate.service{title: line_item.name, data: {toggle: "tooltip", animation: 'false'}}
    = line_item.name
  .col-xs-1.text-center.qty_req
    = line_item.quantity_requested
  .col-xs-1.text-center.qty_type
    = line_item.quantity_type
  .col-xs-1.text-center.qty_rem
    = line_item.quantity_remaining
  .col-xs-1.text-center.started
    = format_date(line_item.started_at)
  .col-xs-2.text-center.components
    %select.selectpicker{multiple: "", title: "Please Select", 'data-width' => '150px', 'data-selected-text-format' => 'count>2', showIcon: false}
      = components_for_select(line_item.components.with_deleted)
  .col-xs-1.text-right.last_fulfillment
    = format_date(line_item.last_fulfillment)
  .col-xs-2.text-right.options
    %button.btn.btn-sm.btn-primary.notes.list{title: t(:procedure)[:notes], type: "button", aria: {label: "Notes List"}, data: {notable_id: line_item.id, notable_type: "LineItem", toggle: "tooltip", animation: 'false'}}
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
    %button.btn.btn-sm.btn-primary.documents.list{title: t(:documents)[:documents], type: "button", aria: {label: "Documents List"}, data: {documentable_id: line_item.id, documentable_type: "LineItem", toggle: "tooltip", animation: 'false'}}
      %span.glyphicon.glyphicon-open-file{aria: {hidden: "true"}}
    %button.btn.btn-sm.btn-warning.otf_edit{title: t(:notes)[:lineitem][:edit], type: "button", aria: {label: "Edit Line Item"}, data: {toggle: "tooltip", animation: 'false'}}
      %span.glyphicon.glyphicon-edit{aria: {hidden: "true"}}
    %button.btn.btn-sm.btn-danger.otf_delete{title: t(:line_item)[:delete_line_item], type: "button", aria: {label: "Delete Line Itme"}, data: {toggle: "tooltip", animation: "false"}}
      %span.glyphicon.glyphicon-remove

