%tr.one_time_fee{data: {line_item: {id: line_item.id}}}
  %td.service
    = line_item.name
  %td.qty_req
    = line_item.quantity_requested
  %td.qty_type
    = line_item.quantity_type
  %td.qty_rem
    = line_item.quantity_remaining
  %td.started
    = line_item.date_started
  %td.last_fulfillment
    = line_item.last_fulfillment
  %td.components
    -line_item.service.components.each do |c|
      %li= c.component
  %td.notes
    %button.btn.btn-primary.otf_notes.list{type: "button", aria: {label: "Notes List"}}
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
  %td.documents
    %button.btn.btn-primary.otf_documents.list{type: "button", aria: {label: "Documents List"}}
      %span.glyphicon.glyphicon-cloud-upload{aria: {hidden: "true"}}
  %td.fulfillments
    %button.btn.btn-primary.otf_fulfillments.list{type: "button", aria: {label: "Fulfillments"}}
      %span.glyphicon.glyphicon-plus{aria: {hidden: "true"}}