.row.table_row.line_item{data: {id: line_item.id}}
  .col-xs-1.text-center.fulfillments
    %button.btn.btn-primary.otf_fulfillments.list{type: "button", aria: {label: "Fulfillments List"}}
      %span.glyphicon.glyphicon-chevron-right{aria: {hidden: "true"}}
  .col-xs-2.text-center.truncate.service
    = line_item.name
  .col-xs-1.text-center.qty_req
    = line_item.quantity_requested
  .col-xs-1.text-center.qty_type
    = line_item.quantity_type
  .col-xs-1.text-center.qty_rem
    = line_item.quantity_remaining
  .col-xs-1.text-center.started
    = format_date(line_item.started_at)
  .col-xs-2.text-left.components
    %select.selectpicker{multiple: "", title: "Please Select", 'data-width' => '150px', 'data-selected-text-format' => 'count>2', showIcon: false}
      = options_from_collection_for_select(line_item.components, 'id', 'component', selected: line_item.components.map{|c| c.id if c.selected})
  .col-xs-1.text-right.last_fulfillment
    = format_date(line_item.last_fulfillment)
  .col-xs-2.text-right.options
    %button.btn.btn-primary.notes.list{type: "button", aria: {label: "Notes List"}, data: {notable_id: line_item.id, notable_type: "LineItem"}}
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
    %button.btn.btn-primary.documents.list{type: "button", aria: {label: "Documents List"}, data: {documentable_id: line_item.id, documentable_type: "LineItem"}}
      %span.glyphicon.glyphicon-open-file{aria: {hidden: "true"}}
    %button.btn.btn-warning.otf_edit{type: "button", aria: {label: "Edit Line Item"}}
      %span.glyphicon.glyphicon-edit{aria: {hidden: "true"}}