.row.line_item{data: {id: line_item.id}}
  .col-xs-2.text-center.truncate.service
    = line_item.name
  .col-xs-1.text-center.qty_req
    %input.quantity_requested_field.form-control{type: "text", value: line_item.quantity_requested}
  .col-xs-1.text-center.qty_type
    = line_item.quantity_type
  .col-xs-1.text-center.qty_rem
    = line_item.quantity_remaining
  .col-xs-2.text-center.started
    %input.date_started_field.datetimepicker.form-control{type: "text", value: format_date(line_item.date_started)}
  .col-xs-1.text-center.last_fulfillment.text-center
    = line_item.last_fulfillment
  .col-xs-1.text-center.components
    -line_item.service.components.each do |c|
      %li= c.component
  .col-xs-1.text-center.notes
    %button.btn.btn-primary.otf_notes_new.list{type: "button", aria: {label: "New Note"}}
      %span.glyphicon.glyphicon-plus{aria: {hidden: "true"}}
    %button.btn.btn-primary.otf_notes.list{type: "button", aria: {label: "Notes List"}}
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
  .col-xs-1.text-center.documents
    %button.btn.btn-primary.otf_documents_new.list{type: "button", aria: {label: "New Document"}}
      %span.glyphicon.glyphicon-plus{aria: {hidden: "true"}}
    %button.btn.btn-primary.otf_documents.list{type: "button", aria: {label: "Documents List"}}
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
  .col-xs-1.text-center.fulfillments
    %button.btn.btn-primary.otf_fulfillments_new.list{type: "button", aria: {label: "New Fulfillment"}}
      %span.glyphicon.glyphicon-plus{aria: {hidden: "true"}}
    %button.btn.btn-primary.otf_fulfillments.list{type: "button", aria: {label: "Fulfillments List"}}
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}

  .row.col-xs-10.slide-toggle-hidden.slide-inactive
    = render partial: "/study_level_activities/fulfillments_table", locals: {line_item: line_item}