.row.table_row.line_item{data: {id: line_item.id}}
  .col-xs-2.text-center.truncate.service
    = line_item.name
  .col-xs-1.text-center.qty_req
    = line_item.quantity_requested
  .col-xs-1.text-center.qty_type
    = line_item.quantity_type
  .col-xs-1.text-center.qty_rem
    = line_item.quantity_remaining
  .col-xs-1.text-center.started
    = format_date(line_item.started_at)
  .col-xs-1.text-left.components
    -line_item.components.each do |c|
      .row
        = check_box_tag "component_check_#{c.id}", c.id, c.selected, class: 'component_check'
        = c.component
  .col-xs-1.text-center.notes
    %button.btn.btn-primary.otf_notes.list{type: "button", aria: {label: "Notes List"}}
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
  .col-xs-1.text-center.documents
    %button.btn.btn-primary.otf_documents.list{type: "button", aria: {label: "Documents List"}}
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
  .col-xs-1.text-center.last_fulfillment
    = format_date(line_item.last_fulfillment)
  .col-xs-1.text-center.fulfillments
    %button.btn.btn-primary.otf_fulfillments.list{type: "button", aria: {label: "Fulfillments List"}}
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
  .col-xs-1.text-center.line_item_edit
    %button.btn.btn-warning.otf_edit{type: "button", aria: {label: "Edit Line Item"}}
      %span.glyphicon.glyphicon-edit{aria: {hidden: "true"}}