-# Copyright © 2011-2019 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.bootstrap-table-dropdown-overflow
  #sla-custom-toolbar
    %button.btn.btn-success.otf_service_new{type: "button", aria: {label: "Add Line Item"}}= t(:line_item)[(is_protocol_type_study? (@protocol)) ? :add_line_item_study : :add_line_item_project]
  %table.study_level_activities{id: "study-level-activities-table", data: {toggle: 'table', search: "true", "show-columns" => "true", "show-refresh" => "true", "show-toggleOn" => "true", url: line_items_path(format: :json, protocol_id: protocol.id), striped: "true", toolbar: "#sla-custom-toolbar", "show-export" => "true", "export-types" => ['xlsx'], "export-options" => "{\"ignoreColumn\": [], \"fileName\": \"Protocol_#{protocol.sparc_id}\"}"}}
    %thead.primary-header
      %tr
        %th{data: {class: 'fulfillments_button exclude_in_export', align: "left", switchable: "false", field: "fulfillments_button"}}
        %th{data: {class: 'service', align: "left", field: "service"}}
          = t(:line_item)[:service]
        %th{data: {class: 'act_num wrap', align: "left", sortable: "true", field: "account_number"}}
          = t(:line_item)[:account_number]
        %th{data: {class: 'contact wrap', align: "left", sortable: "true", field: "contact"}}
          = t(:line_item)[:contact]
        %th{data: {class: 'qty_type', align: "left", field: "quantity_type"}}
          = t(:line_item)[:qty_type]
        %th{data: {class: 'qty_req', align: "left", sortable: "true", field: "quantity_requested"}}
          = t(:line_item)[:qty_req]
        %th{data: {class: 'qty_rem', align: "left", sortable: "true", field: "quantity_remaining"}}
          = t(:line_item)[:qty_rem]
        %th{data: {class: 'started', align: "left", sortable: "true", sorter: "dateSorter", field: "date_started"}}
          = t(:line_item)[:started]
        %th{data: {class: 'components exclude_in_export', align: "center", field: "service_components"}}
          = t(:line_item)[:components]
        %th{data: {class: 'components_export hidden', align: "center", field: "service_components_export"}}
          = t(:line_item)[:components]
        %th{data: {class: 'last_fulfillment', align: "left", sortable: "true", sorter: "dateSorter", field: "last_fulfillment"}}
          = t(:line_item)[:last_fulfillment]
        %th{data: {class: 'options exclude_in_export', align: "center", field: "options"}}
          = t(:actions)[:actions]
        %th{data: {class: 'notes hidden', align: "center", field: "notes"}}
          = t(:line_item)[:notes]
        %th{data: {class: 'docs hidden', align: "center", field: "docs"}}
          = t(:line_item)[:documents]
