-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.alert.alert-warning.mb-0.rounded-0.border-bottom
  %p.text-warning.mb-0
    = icon('fas', 'exclamation-circle mr-1')
    = t(:line_item)[:edit_in_sparc]
%table#studyLevelActivities{ data: { toggle: 'table', url: line_items_path(format: :json, protocol_id: protocol.id), search: 'true', show_columns: 'true', show_refresh: 'true', show_toggle: 'true', cookie: 'true', cookie_id_table: 'studyLevelActivities', toolbar: '#studyLevelActivitiesToolbar', show_export: 'true', export_types: ['json', 'xml', 'csv', 'txt', 'sql'], export_options: "{\"ignoreColumn\": [\"fulfillments\",\"notes\",\"documents\"], \"fileName\": \"Protocol_#{protocol.sparc_id}\"}", undefined_text: "" } }
  %thead.bg-light
    %tr
      %th.fulfillments_export.d-none{ data: { field: 'fulfillments_export', switchable: 'false' } }
        = Fulfillment.model_name.plural.capitalize
      %th.fulfillments.editable{ data: { field: 'fulfillments', align: 'left', switchable: 'false' } }
        = Fulfillment.model_name.plural.capitalize
      %th.service{ data: { field: 'service', align: 'left' } }
        = Service.model_name.human
      %th.qty-requested{ data: { field: 'quantity_requested', align: 'left', sortable: 'true' } }
        = LineItem.human_attribute_name(:quantity_requested)
      %th.qty-type{ data: { field: 'quantity_type', align: 'left' } }
        = LineItem.human_attribute_name(:quantity_type)
      %th.qty-fulfilled{ data: { field: 'quantity_fulfilled', align: 'left', sortable: 'true', visible: 'false' } }
        = LineItem.human_attribute_name(:quantity_fulfilled)
      %th.qty-remaining{ data: { field: 'quantity_remaining', align: 'left', sortable: 'true' } }
        = LineItem.human_attribute_name(:quantity_remaining)
      %th.date-started{ data: { field: 'date_started', align: 'left', sortable: 'true', sorter: 'dateSorter' } }
        = LineItem.human_attribute_name(:started_at)
      %th.last-fulfillment{ data: { field: 'last_fulfillment', align: 'left', sortable: 'true', sorter: 'dateSorter' } }
        = LineItem.human_attribute_name(:last_fulfillment)
      %th.account-number.editable.text-wrap{ data: { field: 'account_number', align: 'left', sortable: 'true' } }
        = LineItem.human_attribute_name(:account_number)
      %th.contact.editable.text-wrap{ data: { field: 'contact', align: 'left', sortable: 'true' } }
        = LineItem.human_attribute_name(:contact_name)
      %th.notes{ data: { field: 'notes', align: 'left' } }
        = Note.model_name.plural.capitalize
      %th.documents{ data: { field: 'documents', align: 'left' } }
        = Document.model_name.plural.capitalize
