%h3= "Appointment: #{appointment.id}"
%br
%br
.calendar.participant
  .row.header.text-center
    .col-xs-2=t(:appointment)[:procedure]
    .col-xs-1=t(:appointment)[:r_t]
    .col-xs-2=t(:appointment)[:status]
    .col-xs-2=t(:appointment)[:incompletion]
    .col-xs-2=t(:appointment)[:follow_up]
    .col-xs-2=t(:appointment)[:notes]
    .col-xs-1=t(:appointment)[:remove]
  -appointment.procedures_grouped_by_core.each do |core_id, procedures|
    .row.core{id: "procedure_service_#{core_id}"}
      .col-xs-12= "Core: #{procedures.first.sparc_core_name}"
    -procedures.each do |procedure|
      = render partial: 'participants/procedure', locals: {procedure: procedure}

.modal.fade#appointment_modal{tabindex: '-1', role: 'dialog', aria: {labelledby: "appointmentModal", hidden: 'true'}}
  #appointment_modal_place