
.modal-dialog
  .modal-content
    = form_for participant, {url: "/participants/#{participant.id}/change_arm", remote: true, html: {class: "form-horizontal", role: "form", method: "post"}} do |p|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only= t(:actions)[:close]
        %h4#changeParticipantArm.modal-title.text-center= t(:arm)[:change_arm]
        #modal_errors
      .modal-body
        .row
          .col-md-12
            .form-group
              = p.label "arm_id", t(:participant)[:arm], class: "col-sm-4 control-label"
              .col-sm-7= p.select "arm_id", options_from_collection_for_select(participant.protocol.arms, "id", "name", participant.arm_id), {include_blank: true}, :class => "form-control selectpicker"
      .modal-footer
        .center-block
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]
          %input.btn.btn-primary{type: 'submit', value: t(:actions)[:save]}
