-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.modal-dialog{ role: 'document' }
  .modal-content
    .modal-header
      %h3.modal-title
        = participant.full_name
      %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t('actions.close') } }
        %span{ aria: { hidden: 'true' } } &times;
    .modal-body.py-0
      .row
        %table.table.mb-0
          %tbody
            %tr.d-flex
              %td.col-3.d-inline-block.border-top-0
                = Participant.human_attribute_name(:mrn)
              %td.col-9.d-inline-block.border-top-0
                = participant.mrn
            %tr.d-flex
              %td.col-3.d-inline-block
                = Participant.human_attribute_name(:date_of_birth)
              %td.col-9.d-inline-block
                = format_date(participant.date_of_birth)
            %tr.d-flex
              %td.col-3.d-inline-block
                = Participant.human_attribute_name(:gender)
              %td.col-9.d-inline-block
                = participant.gender
            %tr.d-flex
              %td.col-3.d-inline-block
                = Participant.human_attribute_name(:ethnicity)
              %td.col-9.d-inline-block
                = participant.ethnicity
            %tr.d-flex
              %td.col-3.d-inline-block
                = Participant.human_attribute_name(:race)
              %td.col-9.d-inline-block
                = participant.race
            %tr.d-flex
              %td.col-3.d-inline-block
                = Participant.human_attribute_name(:address)
              %td.col-9.d-inline-block
                = participant.address
            %tr.d-flex
              %td.col-3.d-inline-block
                = Participant.human_attribute_name(:city)
              %td.col-9.d-inline-block
                = participant.city
            %tr.d-flex
              %td.col-3.d-inline-block
                = Participant.human_attribute_name(:state)
              %td.col-9.d-inline-block
                = participant.state
            %tr.d-flex
              %td.col-3.d-inline-block
                = Participant.human_attribute_name(:zipcode)
              %td.col-9.d-inline-block
                = participant.zipcode
            %tr.d-flex
              %td.col-3.d-inline-block
                = Participant.human_attribute_name(:phone)
              %td.col-9.d-inline-block
                = participant.phone
    .modal-footer
      %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
        = t('actions.close')
