-# Copyright © 2011-2017 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.modal-dialog
  .modal-content
    = form_for participant, {remote: true, html: {class: "form-horizontal new_participant", role: "form"}} do |p|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only= t(:actions)[:close]
        %h4#CreateNewParticipant.modal-title.text-center= header_text
      .modal-body
        #modal_errors
        = render partial: 'required_fields'
        .row
          .col-md-12
            = p.hidden_field :protocol_id
            .form-group
              = p.label "last_name", t(:participant)[:last_name]+t(:actions)[:required], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "last_name", {class: 'form-control'}
            .form-group
              = p.label "first_name", t(:participant)[:first_name]+t(:actions)[:required], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "first_name", {class: 'form-control'}
            .form-group
              = p.label "middle_initial", t(:participant)[:middle_initial], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "middle_initial", {class: 'form-control'}
            %hr
            .form-group
              = p.label "mrn", t(:participant)[:mrn]+t(:actions)[:required], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "mrn", {class: 'form-control'}
            .form-group
              = p.label "external_id", t(:participant)[:id], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "external_id", {class: 'form-control'}
            .form-group
              = p.label "status", t(:participant)[:status], class: "col-sm-4 control-label"
              .col-sm-7= p.select "status", Participant::STATUS_OPTIONS, {include_blank: true}, :class => "form-control selectpicker"
            .form-group
              = p.label "date_of_birth", t(:participant)[:dob]+t(:actions)[:required], class: "col-sm-4 control-label "
              .col-sm-7
                = p.text_field "date_of_birth", {id: 'dob_time_picker', class: 'form-control datetimepicker', value: format_date(participant.date_of_birth), readonly: true}
            .form-group
              = p.label "gender", t(:participant)[:gender]+t(:actions)[:required], class: "col-sm-4 control-label"
              .col-sm-7= p.select "gender", Participant::GENDER_OPTIONS, {include_blank: true}, :class => "form-control selectpicker"
            .form-group
              = p.label "ethnicity", t(:participant)[:ethnicity]+t(:actions)[:required], class: "col-sm-4 control-label"
              .col-sm-7= p.select "ethnicity", Participant::ETHNICITY_OPTIONS, {include_blank: true}, :class => "form-control selectpicker"
            .form-group
              = p.label "race", t(:participant)[:race]+t(:actions)[:required], class: "col-sm-4 control-label"
              .col-sm-7= p.select "race", Participant::RACE_OPTIONS, {include_blank: true}, :class => "form-control selectpicker"
            %hr
            .form-group
              = p.label "address", t(:participant)[:address]+t(:actions)[:required], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "address", {class: 'form-control'}
            .form-group
              = p.label "city", t(:participant)[:city]+t(:actions)[:required], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "city", {class: 'form-control'}
            .form-group
              = p.label "state", t(:participant)[:state]+t(:actions)[:required], class: "col-sm-4 control-label"
              .col-sm-7= p.select "state", options_for_select(us_states, participant.state), {include_blank: true}, :class => "form-control selectpicker"
            .form-group
              = p.label "zipcode", t(:participant)[:zip]+t(:actions)[:required], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "zipcode", {class: 'form-control'}
            %hr
            .form-group
              = p.label "phone", t(:participant)[:phone], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "phone", {class: 'form-control'}
            .form-group
              = p.label "recruitment_source", t(:participant)[:recruitment_source], class: "col-sm-4 control-label"
              .col-sm-7= p.select "recruitment_source", Participant::RECRUITMENT_OPTIONS, {include_blank: true}, :class => "form-control selectpicker"
      .modal-footer
        .center-block
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]
          %input.btn.btn-primary{type: 'submit', value: t(:participant)[:save_participant]}
