.modal-dialog
  .modal-content
    = form_for [protocol, participant], {remote: true, html: {class: "form-horizontal new_participant", role: "form"}} do |p|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only= t(:actions)[:close]
        %h4#CreateNewParticipant.modal-title.text-center= header_text
      .modal-body
        #modal_errors
        .row
          .col-md-12
            .form-group
              = p.label "last_name", t(:participant)[:last_name], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "last_name", {class: 'form-control'}
            .form-group
              = p.label "first_name", t(:participant)[:first_name], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "first_name", {class: 'form-control'}
            .form-group
              = p.label "mrn", t(:participant)[:mrn], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "mrn", {class: 'form-control'}
            .form-group
              = p.label "status", t(:participant)[:status], class: "col-sm-4 control-label"
              .col-sm-7= p.select "status", Participant.status_options, {include_blank: true}, :class => "form-control"
            .form-group
              = p.label "date_of_birth", t(:participant)[:dob], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "date_of_birth", {class: 'form-control', data: {provide: "datepicker", 'date-format' => 'yyyy-mm-dd', 'date-start-view' => 'decade'}}
            .form-group
              = p.label "gender", t(:participant)[:gender], class: "col-sm-4 control-label"
              .col-sm-7= p.select "gender", Participant.gender_options, {include_blank: true}, :class => "form-control"
            .form-group
              = p.label "ethnicity", t(:participant)[:ethnicity], class: "col-sm-4 control-label"
              .col-sm-7= p.select "ethnicity", Participant.ethnicity_options, {include_blank: true}, :class => "form-control"
            .form-group
              = p.label "race", t(:participant)[:race], class: "col-sm-4 control-label"
              .col-sm-7= p.select "race", Participant.race_options, {include_blank: true}, :class => "form-control"
            .form-group
              = p.label "address", t(:participant)[:address], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "address", {class: 'form-control'}
            .form-group
              = p.label "phone", t(:participant)[:phone], class: "col-sm-4 control-label"
              .col-sm-7= p.text_field "phone", {class: 'form-control'}
      .modal-footer
        .center-block{style: "width: 205px;"}
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]
          %input.btn.btn-primary{type: 'submit', value: t(:actions)[:save_participant]}
