-# Copyright © 2011-2023 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

#completeIncompleteAll.modal-dialog
  .modal-content
    = form_with url: update_procedures_appointment_multiple_procedures_path(@appointment), method: :put, local: false do |f|
      = f.hidden_field :status, value: 'incomplete'
      - @procedure_ids.each do |pid|
        = f.hidden_field 'procedure_ids[]', value: pid
      .modal-header
        %h4.modal-title
          = t('multiple_procedures_modal.incomplete_header')
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t('actions.close') } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        .form-group
          = f.label 'performer_id', t('multiple_procedures_modal.performed_by'), class: 'required'
          = f.select :performer_id, options_from_collection_for_select(performable_by, :id, :full_name), { include_blank: true }, class: 'selectpicker form-control'
        .form-group
          = f.label 'reason', t('multiple_procedures_modal.reason'), class: 'required'
          = f.select :reason, options_for_select(Procedure::NOTABLE_REASONS), { include_blank: true }, class: 'selectpicker form-control'
        .form-group
          = f.label "comment", t('notes.comment')
          = f.text_area :comment, class: 'form-control', id: 'comment', rows: 6
      .modal-footer
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]
        = f.submit t('actions.submit'), class: 'btn btn-primary'
