-# Copyright © 2011-2018 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

#incomplete_all_modal.modal-dialog
  .modal-content
    = render 'multiple_procedures/modal_header', modal_header: t(:multiple_procedures_modal)[:incomplete_header] 
    = form_tag update_procedures_multiple_procedures_path, method: 'put', remote: true, class: "form-horizontal", role: "form" do
      .modal-body.form-horizontal
        #multiple_procedures_modal_errors
        - @procedures.each do |procedure|
          = hidden_field_tag 'procedure_ids[]', procedure.id
        = hidden_field_tag :status, "incomplete"
        .form-group
          = render 'multiple_procedures/performed_by', procedures: @procedures 
        .form-group
          = label_tag "reason", t(:multiple_procedures_modal)[:reason], class: "col-sm-4 control-label"
          .col-sm-7
            = select_tag "reason", options_for_select(Procedure::NOTABLE_REASONS), prompt: "Select a reason", class: "selectpicker form-control reason-select"
        .form-group
          = label_tag "comment", t(:notes)[:comment], class: "col-sm-4 control-label"
          .col-sm-7
            = text_area_tag :comment, nil, class: 'form-control', rows: "6"
      = render 'multiple_procedures/modal_footer'



