.modal-dialog
  .modal-content
    = form_for arm, {remote: true, html: {class: "form-horizontal new_visit", role: "form"}} do |a|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only= t(:actions)[:close]
        %h4#add_arm.modal-title.text-center= t(:arm)[:edit_arm]
      .modal-body
        #modal_errors
        .row
          .col-md-12
            = a.hidden_field :protocol_id
            .form-group
              = label_tag 'edit_arms', t(:arm)[:edit_arm], class: "col-sm-4 control-label"
              .col-sm-7= select_tag "edit_arm_select", options_from_collection_for_select(protocol_arms, 'id', 'name', arm.id), class: "selectpicker form-control"
            %hr
            .form-group
              = a.label "name", t(:arm)[:name], class: "col-sm-4 control-label"
              .col-sm-7= a.text_field "name", {class: 'form-control'}
            .form-group
              = a.label "subject_count", t(:arm)[:subject_count], class: "col-sm-4 control-label"
              .col-sm-7= a.text_field "subject_count", {class: 'form-control'}
      .modal-footer
        .center-block
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]
          %input.btn.btn-primary{type: 'submit', value: t(:actions)[:save]}
