-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

- edit_action = intended_action == 'edit'

.modal-dialog
  .modal-content
    = form_for arm, remote: true, method: edit_action ? :put : :delete, html: { id: 'navigateArmForm' } do |f|
      .modal-header
        %h4.modal-title
          = edit_action ? t('arm.edit_arm') : t('arm.remove_arm')
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t('actions.close') } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        #navigateArmFormBody{ data: { intended_action: intended_action } }
          .form-group
            = label_tag 'arm_form_label', t('arm.object'), class: 'required'
            = select_tag 'arm_form_select', options_from_collection_for_select(protocol_arms, 'id', 'name', arm.id), class: 'selectpicker form-control'
          - if edit_action
            .form-group
              = f.label 'name', t('arm.name'), class: 'required'
              = f.text_field :name, {class: 'form-control'}
            .form-group
              = f.label 'subject_count', t('arm.subject_count'), class: 'required'
              = f.text_field :subject_count, {class: 'form-control'}
      .modal-footer
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]
        - if edit_action
          = f.submit t('actions.submit'), class: 'btn btn-primary'
        - else
          = f.submit t('actions.remove'), class: 'btn btn-primary', data: { confirm_swal: true, html: "Are you sure you want to remove arm: #{arm.name} from this protocol?" }
