-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

%tr.line_item{id: "line_item_#{line_item.id}"}
  %td.line_item_service_name{ colspan: 6 }
    = service_name_display(line_item.service)
  - if tab == 'template'
    %td.text-center{ colspan: 2 }
      = link_to edit_line_item_path(line_item.id), remote: true, class: 'btn btn-warning change-line-item-service', title: t('protocol.study_schedule.change_service'), data: { toggle: 'tooltip', placement: 'top', animation: 'false' } do
        = icon('fas', 'edit')

    %td.text-center{ colspan: 2 }
      - checked = set_check(line_item)
      %button.btn.check-row{ check: checked.to_s, class: checked ? 'btn-success' : 'btn-danger', title: checked ? t(:visit)[:check_row] : t(:visit)[:uncheck_row], data: { toggle: "tooltip", animation: 'false', line_item_id: line_item.id } }
        = icon('fas', 'check' + (checked ? '' : ' d-none'))
        = icon('fas', 'times' + (checked ? ' d-none' : ''))
  - else
    %td
  %div{class: "visits_for_line_item_#{line_item.id}"}
    = render partial: '/study_schedule/visits', locals: {line_item: line_item, page: page, tab: tab}
