.col-xs-2
  .page_change_arrow.btn.btn-info.glyphicon.glyphicon-arrow-left{id: "arrow-left-#{arm.id}", :'data-arm_id' => "#{arm.id}", page: page - 1, disabled: "true", role: 'button'}
-# The visit jump to drop down
.col-xs-8
  = build_visits_select(arm, page)
-# The next page arrow
.col-xs-2
  .page_change_arrow.btn.btn-info.btn.btn-info.glyphicon.glyphicon-arrow-right{id: "arrow-right-#{arm.id}", :'data-arm_id' => "#{arm.id}", page: page + 1, disabled: arm.visit_count <= Visit.per_page}