-# Copyright © 2011-2019 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

- visit_groups.each_with_index do |visit_group, index|
  .col-xs-1.visit_group_box
    .row.visit_group_day_windows.text-center
      .col-xs-4.text-center.day_window
        %span{id: "visit-before-display-#{visit_group.id}"}= visit_group.window_before || 0
      .col-xs-4.text-center.day_window
        %span{id: "visit-day-display-#{visit_group.id}"}= visit_group.day
      .col-xs-4.text-center.day_window
        %span{id: "visit-after-display-#{visit_group.id}"}= visit_group.window_after || 0
    .row.visit_group_names.text-center
      .visit_name_display.text-center{:data_visit_group_id => visit_group.id}
        %span{id: "visit-name-display-#{visit_group.id}"}
          = text_field_tag "visit_group_#{visit_group.id}", visit_group.name, class: "form-control visit_group_#{index} visit_name", :'data-visit_group_id' => visit_group.id, disabled: (tab == 'consolidated' ? true : false)
- (visit_groups.size...Visit.per_page).each do |index|
  .col-md-1.text-center{class: "visit_group_#{index}"}
    &nbsp
    .row
      .col-md-12 &nbsp


