-# Copyright © 2011-2023 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

- visits = line_item.visits.paginate(page: page, per_page: Visit.per_page)
- visits.each_with_index do |visit, index|
  %td.text-center.visit{ colspan: 3, class: "line_item_#{line_item.id}_visit_#{index} visit_for_line_item_#{line_item.id} visit_for_visit_group_#{visit.visit_group_id} #{tab}-visit", id: "visit#{visit.id}", data: {visit_group_id: visit.visit_group_id, line_item_id: line_item.id} }
    - if tab == 'template'
      = check_box_tag "visit_check_#{visit.id}", visit.id, visit.has_billing?, class: 'visit-quantity'
    - elsif tab == 'quantity'
      = quantity_visit_link(visit, page)
    -else
      = visit.total_quantity
- (visits.size...Visit.per_page).each do |index|
  %td.visit.empty-visit{ colspan: 3, class: "line_item_#{line_item.id}_visit_#{index}" } &nbsp
