-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

- edit_action = intended_action == 'edit'
- use_epic = ENV.fetch('USE_EPIC') == "true"

.modal-dialog
  .modal-content
    = form_for visit_group, remote: true, method: edit_action ? :put : :delete, html: { id: 'navigateVisitForm' } do |f|
      = hidden_field_tag :schedule_tab, schedule_tab
      = hidden_field_tag :current_page, current_page
      .modal-header
        %h4.modal-title
          = edit_action ? t('visit.edit_visit') : t('visit.remove_visit')
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t('actions.close') } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        #navigateVisitFormBody{data: { intended_action: intended_action }}
          .form-group
            .row.align-items-center
              = label_tag 'visit_group_arm_form_label', t('arm.object'), class: 'control-label mb-0 col-sm-4'
              .col-sm-8
                = select_tag 'visit_group_arm_form_select', options_from_collection_for_select(protocol.arms, 'id', 'name', arm.id), class: 'selectpicker form-control', attribute: 'arm'
          .form-group
            .row.align-items-center
              = label_tag 'visit_group_form_label', t('visit.object'), class: 'control-label mb-0 col-sm-4'
              .col-sm-8
                = select_tag 'visit_group_form_select', options_for_select(edit_visit_options(arm.visit_groups), visit_group.id), class: 'selectpicker form-control', attribute: 'visit_group'
          - if edit_action
            .form-group
              .row.align-items-center
                = f.label 'name', t('visit_groups.name'), class: 'control-label mb-0 col-sm-4'
                .col-sm-8
                  = f.text_field :name, {class: 'form-control'}
            .form-group
              .row.align-items-center
                = f.label 'day', "#{t('visit_groups.day')}#{use_epic ? ' *' : ''}", class: "control-label mb-0 col-sm-4"
                .col-sm-8
                  = f.text_field :day, {class: 'form-control', maxlength: 4}
            .form-group
              .row.align-items-center
                = f.label 'position', t('visit_groups.position'), class: 'control-label mb-0 col-sm-4'
                .col-sm-8
                  = f.select :position, options_for_select(move_to_position_options_for(visit_group), visit_group.position), {}, class: 'form-control selectpicker'
            .form-group
              .row.align-items-center
                = f.label 'window_before', t('visit_groups.window_before'), class: 'control-label mb-0 col-sm-4'
                .col-sm-8
                  = f.text_field :window_before, {class: 'form-control'}
            .form-group
              .row.align-items-center
                = f.label 'window_after', t('visit_groups.window_after'), class: 'control-label mb-0 col-sm-4'
                .col-sm-8
                  = f.text_field :window_after, {class: 'form-control'}
      .modal-footer
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]
        - if edit_action
          = f.submit t('actions.submit'), class: 'btn btn-primary'
        - else
          %a.btn.btn-primary#removeVisitGroupButton
            = t('actions.remove')
