.page-header
  %h3 Documents
.bootstrap-table-dropdown-overflow
  %table.documents.custom_striped#documents_table{data: {pagination: 'true', 'page-size' => 20, toggle: 'table', search: "true", "show-columns" => "true", "show-refresh" => "true", "show-toggle" => "true", url: documents_path(format: :json), striped: "true", show: {columns: "true", refresh: "true", toggle: "true"}, "sort-name" => "created_at", "sort-order" => 'desc'}}
    %thead
      %tr
        %th{data: {class: 'edit', align: "center", field: "edit"}}
          = t(:actions)[:edit]
        %th{data: {class: 'title', align: 'center', sortable: "true", field: 'title'}}
          = t(:documents)[:title]
        %th{data: {class: 'created_at', align: 'center', sortable: "true", sorter: "dateSorter", field: 'created_at'}}
          = t(:documents)[:date_created]
        %th{data: {class: 'viewed_at', align: 'center', sortable: "true", sorter: "dateSorter", field: 'viewed_at'}}
          = t(:documents)[:viewed_at]
        %th{data: {class: 'state', align: 'center', field: 'state'}}
          = t(:documents)[:state]
        %th{data: {class: 'file', align: 'center', field: 'file'}}
          = t(:documents)[:file]
        %th{data: {class: 'delete', align: 'center', field: 'delete'}}
          = t(:actions)[:delete]
