.modal-dialog
  .modal-content
    = form_for document, {remote: true, html: {class: "form-horizontal", role: "form"}} do |form|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only
            = t(:actions)[:close]
        %h4.modal-title.text-center
          = t(:documents)[:edit_header]
      .modal-body
        #document_modal_errors
        = render 'required_fields'
        .form-group
          = form.label "title", t(:documents)[:title]+t(:actions)[:required], class: "col-sm-3 control-label"
          .col-sm-8
            = form.text_field :title, {class: 'form-control'}
      .modal-footer
        .center-block
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}
            = t(:actions)[:close]
          %button.btn.btn-primary{type: 'submit'}
            =t(:actions)[:save]
