-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.modal-dialog.modal-lg{ role: 'document' }
  .modal-content
    .modal-header
      %h3.modal-title
        = t(:documents)[documentable_sym][:index_header]
      %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t('actions.close') } }
        %span{ aria: { hidden: 'true' } } &times;
    .modal-body
      - if documents.any?
        %table.table.table-striped
          %thead.text-center
            %tr
              %th
                = t(:documents)[:date]
              %th
                = t(:documents)[:object]
              %th
                = t(:documents)[:delete]
          %tbody
            - documents.each do |document|
              %tr
                %td.created-at.text-center
                  = format_datetime(document.created_at)
                %td.comment.text-center
                  = link_to document.original_filename, document_path(document), target: "_blank"
                %td.delete.text-center
                  = link_to(document_path(document, format: :js), remote: true, method: :delete) do
                    %span= icon('fa', 'times')
      -else
        .text-center= t(:documents)[documentable_sym][:none]
    .modal-footer
      - if documentable_type == "Fulfillment"
        %button#fulfillments_back.btn.btn-default{type: 'button', data: {line_item_id: @documentable.line_item_id}}
          = t(:actions)[:close]
      - else
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t('actions.close')

      = link_to new_document_path(document: { documentable_id: documentable_id, documentable_type: documentable_type }, format: :js), remote: true, class: 'btn btn-primary document new' do
        = icon('fa', 'plus')
        = t(:documents)[:upload_button]
