= hidden_field_tag :current_tab, 'template'
%br
%br
%div{role: 'tabpanel'}
  %ul.nav.nav-tabs{role: 'tablist'}
  %div{role: 'tablist'}
    %ul.nav.nav-tabs{id: 'service_calendar_tabs', role: 'navigation'}
      %li.active{role: 'presentation'}= link_to "Template", "#template", :data => {:toggle => 'tab'}, role: 'tab', "aria-controls" =>'study_schedule/template', :'data-tab' => 'template'
      %li{role: 'presentation'}= link_to "Quantity/Billing Tab", "#quantity_billing", :data => {:toggle => 'tab'}, role: 'tab', "aria-controls" => 'study_schedule/quantity/billing', :'data-tab' => 'quantity'
      %li{role: 'presentation'}= link_to "Consolidated Request Tab", "#consolidated_request", :data => {:toggle => 'tab'}, role: 'tab', "aria-controls" =>'study_schedule/consolidated_request'
  .tab-content
    .tab-pane.active#template{role: 'tabpanel'}

    .tab-pane#quantity_billing{role: 'tabpanel'}

    .tab-pane#consolidated_request{role: 'tabpanel'}
      = render 'protocols/study_schedule/consolidated_request'
    .service_calendar_container
      - protocol.arms.each do |arm|
        = render partial: 'service_calendar/template', locals: {arm: arm, page: page}
        %br
