%br
%br
%br
%br
.clear
%div{role: 'tabpanel'}
  %ul.nav.nav-tabs{role: 'tablist'}
  %div{role: 'tablist'}
    %ul.nav.nav-tabs{role: 'navigation'}
      %li.active{role: 'presentation'}= link_to "Template", "#template", :data => {:toggle => 'tab'}, role: 'tab', "aria-controls" =>'study_schedule/template'
      %li{role: 'presentation'}= link_to "Qunatity/Billing Tab", "#quantity_billing", :data => {:toggle => 'tab'}, role: 'tab', "aria-controls" => 'study_schedule/quantity/billing'
      %li{role: 'presentation'}= link_to "Consolidated Request Tab", "#consolidated_request", :data => {:toggle => 'tab'}, role: 'tab', "aria-controls" =>'study_schedule/consolidated_request'
  .tab-content
    .tab-pane.active#template{role: 'tabpanel'}
      = render 'protocols/study_schedule/template'

    .tab-pane#quantity_billing{role: 'tabpanel'}
      = render 'protocols/study_schedule/quantity_billing'

    .tab-pane#consolidated_request{role: 'tabpanel'}
      = render 'protocols/study_schedule/consolidated_request'