#study_schedule_buttons
  .row
    .col-sm-4.col-md-4.text-center
      =t(:study_schedule_tab)[:buttons][:arm]
      = link_to '', new_protocol_arm_path(protocol), {class: 'btn btn-success glyphicon glyphicon-plus ', id: 'add_arm_button', type: 'button',"data-toggle" => 'modal', "data-target" => '#arm_modal', remote: true}
      = link_to '', 'javascript:void(0)', {class: 'btn btn-danger glyphicon glyphicon-remove ', id: 'remove_arm_button', type: 'button', remote: true}

      %div
        = select_tag 'arms', options_from_collection_for_select(protocol.arms, 'id' , 'name'), :class => 'selectpicker', :'data-protocol_id' => protocol.id
    .col-md-4.text-center
      =t(:study_schedule_tab)[:buttons][:visit]
      = link_to '', 'javascript:void(0)', {class: 'btn btn-success glyphicon glyphicon-plus ', id: 'add_visit_button', type: 'button',"data-toggle" => 'modal', "data-target" => '#visit_modal', remote: true}
      = link_to '', 'javascript:void(0)', {class: 'btn btn-danger glyphicon glyphicon-remove ', id: 'remove_visit_button', type: 'button', remote: true}
      %div
        %select.selectpicker#visits
    .col-sm-4.col-md-4.text-center
      =t(:study_schedule_tab)[:buttons][:services]
      = link_to '', 'javascript:void(0)', {class: 'btn btn-success glyphicon glyphicon-plus ', id: 'add_service_button', type: 'button', "data-toggle" => 'modal', "data-target" => '#line_item_modal', remote: true}
      = link_to '', 'javascript:void(0)', {class: 'btn btn-danger glyphicon glyphicon-remove ', id: 'remove_service_button', type: 'button', remote: true}
      %div
        = select_tag 'services', options_from_collection_for_select(services, 'id', 'name'), :class => 'selectpicker'
.modal.fade#arm_modal{"aria-hidden" => true}
  #arm_form
.modal.fade#visit_modal
  #visit_form
.modal.fade#line_item_modal
  #line_item_form
