.modal.fade#participantModal{tabindex: '-1', role: 'dialog', "aria-labelledby" => "CreateNewParticipant", "aria-hidden" => 'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', "data-dismiss" => 'modal'}
          %span{"aria-hidden" => 'true'} &times;
          %span.sr-only Close
        %h4.modal-title#CreateNewParticipant Create New Participant
      .modal-body
        = form_for :participant, {remote: true, url: "/protocols/#{protocol.id}/participants"} do |p|
          = p.label "last_name", "Last Name:"
          = p.text_field "last_name"
          %br
          = p.label "first_name", "First Name:"
          = p.text_field "first_name"
          %br
          = p.label "mrn", "MRN:"
          = p.text_field "mrn"
          %br
          = p.label "status", "Patient Status:"
          = p.text_field "status"
          %br
          = p.label "date_of_birth", "Date of Birth:"
          = p.text_field "date_of_birth"
          %br
          = p.label "gender", "Gender:"
          = p.text_field "gender"
          %br
          = p.label "ethnicity", "Ethnicity:"
          = p.text_field "ethnicity"
          %br
          = p.label "race", "Race:"
          = p.text_field "race"
          %br
          = p.label "address", "Address:"
          = p.text_field "address"
          %br
          = p.label "phone", "Phone:"
          = p.text_field "phone"
          .modal-footer
            %button.btn.btn-default{type: 'button', "data-dismiss" => 'modal'} Close
            %input.btn.btn-primary{type: 'submit', value: "Save Participant"}