-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.card.w-100
  #participantTrackerToolbar
    = link_to new_protocol_participant_path(protocol_id: protocol.id), remote: true, class: 'btn btn-success' do
      = succeed t(:participant)[:search_participant] do
        = icon('fas', 'search mr-2')
    %span.tooltip-wrapper.ml-3{title: t('reports.participant_report'), data: {toggle: 'tooltip'}}
      %button.btn.btn-secondary.participant-report.report-button{ data: { url: reports_path(report_type: 'participant_report', title: t('reports.participant_report'), documentable_id: protocol.id, documentable_type: Protocol.name, protocols: [protocol.id], protocol_level: true) }}
        = icon('fas', 'file-alt')
      
  %table#participantTrackerTable{ data: { toggle: 'table', url: protocol_participants_path(protocol_id: protocol.id, format: :json), search: 'true', show_columns: 'true', show_refresh: 'true', show_toggle: 'true', page_size: 10, pagination: 'true', side_pagination: 'server', sort_name: 'last_name', sort_order: 'asc', cookie: 'true', cookie_id_table: 'participant-tracker-table', toolbar: '#participantTrackerToolbar', show_export: 'true', export_types: ['excel'] } }
    %thead.bg-light
      %tr
        %th.calendar.editable{ data: { field: 'calendar', align: 'center' } }
          = t('protocols_participants.table.fields.calendar')
        %th.last-name{ data: { field: 'last_name', align: 'left', sortable: 'true' } }
          = Participant.human_attribute_name(:last_name)
        %th.first-name{ data: { field: 'first_middle', align: 'left', sortable: 'true' } }
          = Participant.human_attribute_name(:first_name)
        %th.mrn{ data: { field: 'mrn', align: 'left', sortable: 'true' } }
          = Participant.human_attribute_name(:mrn)
        %th.external-id.editable{ data: { field: 'external_id', align: 'left', sortable: 'true' } }
          = ProtocolsParticipant.human_attribute_name(:external_id)
        %th.arm{ data: { field: 'arm', align: 'left', sortable: 'true' } }
          = ProtocolsParticipant.human_attribute_name(:arm)
        %th.status{ data: { field: 'status', align: 'left', sortable: 'true' } }
          = ProtocolsParticipant.human_attribute_name(:status)
        %th.recruitment-source{ data: { field: 'recruitment_source', align: 'left', sortable: 'true' } }
          = ProtocolsParticipant.human_attribute_name(:recruitment_source)
        %th.notes{ data: { field: 'notes', align: 'center' } }
          = Note.model_name.plural.capitalize
        %th.actions{ data: { field: 'actions', align: 'center' } }
          = t('actions.actions')

