%h3= t(:participant)[:list]
#custom-toolbar
  = link_to t(:participant)[:new_participant], new_participant_path(protocol_id: protocol.id), {class: 'btn btn-default btn-primary', id: 'new_participant_button', type: 'button', data: {toggle: 'modal', target: '#modal_place'}, remote: true}
%table.participants{id: "participants-list-table", data: {toggle: 'table', search: "true", toolbar: '#custom-toolbar',  url: "/participants.json?protocol_id=#{protocol.id}", striped: "true", height: "400", sort: {name: 'last_name', order: 'asc'}, show: {columns: "true", refresh: "true", toggle: "true", export: "true"}, export: {types: ['excel']}, select: {item: {name: "toolbar1"}}}}
  %thead.primary-header
    %tr
      %th{data: {class: 'last_name truncate', align: "left", sortable: "true", field: "last_name"}}
        = t(:participant)[:last_name]
      %th{data: {class: 'first_name truncate', align: "left", sortable: "true", field: "first_middle"}}
        = t(:participant)[:first_name]
      %th{data: {class: 'mrn truncate', align: "left", sortable: "true", field: "mrn"}}
        = t(:participant)[:mrn]
      %th{data: {class: 'external_id truncate', align: "left", sortable: "true", field: "external_id"}}
        = t(:participant)[:id]
      %th{data: {class: 'date_of_birth', align: "center", sortable: "true", sorter: "dateSorter", field: "date_of_birth"}}
        = t(:participant)[:dob]
      %th{data: {class: 'gender', align: "left", sortable: "true", field: "gender"}}
        = t(:participant)[:gender]
      %th{data: {class: 'race', align: "left", sortable: "true", field: "race"}}
        = t(:participant)[:race]
      %th{data: {class: 'ethnicity', align: "left", sortable: "true", field: "ethnicity"}}
        = t(:participant)[:ethnicity]
      %th{data: {class: 'address truncate', align: "left", sortable: "true", field: "address", visible: "false"}}
        = t(:participant)[:address]
      %th{data: {class: 'phone', align: "left", sortable: "true", field: "phone", visible: "false"}}
        = t(:participant)[:phone]
      %th{data: {class: 'recruitment_source', align: "left", sortable: "true", field: "recruitment_source"}}
        = t(:participant)[:recruitment_source]
      %th{data: {class: 'details', align: "center", field: "details", width: "5"}}
        = t(:actions)[:details]
      %th{data: {class: 'edit', align: "center", field: "edit", width: "5"}}
        = t(:actions)[:edit]
      %th{data: {class: 'delete', align: "center", field: "delete", width: "5"}}
        = t(:actions)[:delete]
