= hidden_field_tag :protocol_id, protocol.id
.fixed-table-container.protocol
  %table.protocol.details.custom_striped{id: "protocol-info", "data-toggle" => 'table', "data-url" => "/protocols/#{protocol.sparc_id}.json"}
    %thead
      %tr
        %th{"data-align" => "left", "data-sortable" => "false", "data-field" => "sparc_id"}= t(:index_page)[:sparc_id]
        %th{"data-align" => "left", "data-sortable" => "true", "data-field" => ""}= t(:index_page)[:principal_investigator]
        %th{"data-align" => "left", "data-sortable" => "true", "data-field" => ""}= t(:index_page)[:coordinators]
        %th{"data-align" => "left", "data-sortable" => "false", "data-field" => "short_title"}= t(:index_page)[:short_title]
        %th{"data-align" => "left", "data-sortable" => "false", "data-field" => "udak_project_number"}= t(:index_page)[:udak_project_number]
        %th{"data-align" => "center", "data-sortable" => "false", "data-field" => "irb_expiration_date"}= t(:index_page)[:irb_expiration_date]
