= hidden_field_tag :protocol_id, protocol.id
.fixed-table-container
  / %table.table.details.custom_striped
  /   / %colgroup
  /   /   %col
  /   /   %col.bordered
  /   /   %col.bordered
  /   /   %col.bordered
  /   /   %col.bordered
  /   /   %col
  /   %thead
  /     %th.text-right Sparc ID
  /     %th Principal Investigator
  /     %th Coordinators
  /     %th Short Title
  /     %th IRB #
  /     %th IRB Expiration Date
  /   %tbody
  /     %tr
  /       %td.text-right= @protocol.sparc_id
  /       %td TODO: NEEDS IDENTITIES
  /       %td TODO: NEEDS IDENTITIES
  /       %td= @protocol.short_title
  /       %td= @protocol.udac_project_number
  /       %td= @protocol.irb_expiration_date

  %table.custom_striped{id: "protocol-info", "data-toggle" => 'table', "data-url" => "/protocols/#{protocol.sparc_id}.json"}
    %thead
      %tr
        %th{"data-align" => "left", "data-sortable" => "false", "data-field" => "sparc_id"}= t(:index_page)[:sparc_id]
        %th{"data-align" => "left", "data-sortable" => "true", "data-field" => ""}= t(:index_page)[:principal_investigator]
        %th{"data-align" => "left", "data-sortable" => "true", "data-field" => ""}= t(:index_page)[:coordinators]
        %th{"data-align" => "left", "data-sortable" => "false", "data-field" => "short_title"}= t(:index_page)[:short_title]
        %th{"data-align" => "left", "data-sortable" => "false", "data-field" => "udac_project_number"}= t(:index_page)[:udac_project_number]
        %th{"data-align" => "center", "data-sortable" => "false", "data-field" => "irb_expiration_date", "data-formatter" => 'display_date'}= t(:index_page)[:irb_expire_date]
