-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF eSUCH DAMAGE.~

.card.w-100.h-100
  .card-header.bg-primary.text-white.justify-content-between
    %h3.mb-0<
      = "#{protocol.organization.name} (#{protocol.srid})"
    .protocol-links.d-flex
      = dashboard_link(protocol)
      = formatted_study_schedule_report(protocol)
  %table{ id: dom_id(protocol), data: { toggle: 'table', url: protocol_path(protocol, format: :json) } }
    %thead.bg-light
      %tr
        %th.rmid{ data: { field: 'rmid', align: 'center', sortable: 'true', visible: Sparc::Setting.get_value('research_master_enabled').to_s } }
          = Protocol.human_attribute_name(:rmid)
        %th.status{ data: { field: 'status', align: 'center', sortable: 'true' } }
          = Protocol.human_attribute_name(:status)
        %th.pi{ data: { field: 'pi', align: 'center' } }
          = Protocol.human_attribute_name(:principal_investigator)
        %th.coordinators{ data: { field: 'coordinators', align: 'center' } }
          = Protocol.human_attribute_name(:coordinators)
        %th.irb-number{ data: { field: 'irb_number', align: 'center' } }
          = IrbRecord.human_attribute_name(:pro_number)
        %th.irb-expiration{ data: { field: 'irb_expiration_date', align: 'center', sortable: 'true', sorter: 'dateSorter' } }
          = IrbRecord.human_attribute_name(:irb_expiration_date)
        %th.organization-cost.col-2{ data: { field: 'organization_cost', align: 'center' } }
          = format_organization_name(protocol.sub_service_request)
        %th.study-cost.col-2{ data: { field: 'study_cost', align: 'center' } }
          = t(:protocol)[:study_cost]
