-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

%main.card.w-100
  .card-header.bg-primary.text-white
    %h3.mb-0
      = t('protocols.table.header')
  #protocolsToolbar
    = select_tag 'protocol_status_filter', options_for_select((t(:sub_service_request)[:statuses].values.zip t(:sub_service_request)[:statuses].keys), 'Any Status'), class: 'selectpicker'
  %table.table-interactive#protocols{ data: { toggle: 'table', url: protocols_path(format: :json), search: 'true', show_columns: 'true', show_refresh: 'true', show_toggle: 'true', page_size: 50, pagination: 'true', side_pagination: 'server', sort_name: 'sparc_id', sort_order: 'asc', cookie: 'true', cookie_id_table: 'protocols', toolbar: '#protocolsToolbar', show_export: 'true', export_types: ['excel']} }
    %thead.bg-light
      %tr
        %th.srid{ data: { field: 'srid', align: 'left', sortable: 'true' } }
          = Protocol.human_attribute_name(:srid)
        %th.rmid{ data: { field: 'rmid', align: 'left', sortable: 'true', visible: Sparc::Setting.get_value('research_master_enabled').to_s } }
          = Protocol.human_attribute_name(:rmid)
        %th.status{ data: { field: 'status', align: 'left', sortable: 'true' } }
          = Protocol.human_attribute_name(:status)
        %th.short-title{ data: { field: 'short_title', align: 'left', sortable: 'true' } }
          = Protocol.human_attribute_name(:short_title)
        %th.pi{ data: { field: 'pi', align: 'left', sortable: 'true' } }
          = Protocol.human_attribute_name(:principal_investigator)
        %th.coordinators{ data: { field: 'coordinators', align: 'left' } }
          = Protocol.human_attribute_name(:coordinators)
        %th.owner{ data: { field: 'owner', align: 'left', visible: 'false' } }
          = Protocol.human_attribute_name(:owner)
        %th.requester{ data: { field: 'requester', align: 'left', visible: 'false' } }
          = Protocol.human_attribute_name(:requester)
        %th.irb-approval{ data: { field: 'irb_approval_date', align: 'left', sortable: 'true', sorter: 'dateSorter' } }
          = IrbRecord.human_attribute_name(:irb_approval_date)
        %th.irb-expiration{ data: { field: 'irb_expiration_date', align: 'left', sortable: 'true', sorter: 'dateSorter' } }
          = IrbRecord.human_attribute_name(:irb_expiration_date)
        %th.start-date{ data: { field: 'start_date', align: 'left', sortable: 'true', sorter: 'dateSorter', visible: 'false' } }
          = Protocol.human_attribute_name(:start_date)
        %th.end-date{ data: { field: 'end_date', align: 'left', sortable: 'true', sorter: 'dateSorter', visible: 'false' } }
          = Protocol.human_attribute_name(:end_date)
        %th.total-at-approval{ data: { field: 'total_at_approval', align: 'right', visible: 'false' } }
          = Protocol.human_attribute_name(:total_at_approval)
        %th.percent-subsidy{ data: { field: 'percent_subsidy', align: 'right', formatter: 'number_to_percent', visible: 'false' } }
          = Protocol.human_attribute_name(:subsidy_amount)
        %th.subsidy-committed{ data: { field: 'subsidy_committed', align: 'right', visible: 'false' } }
          = Protocol.human_attribute_name(:subsidy_committed)
        %th.organizations{ data: { field: 'organizations', align: 'left', sortable: 'true' } }
          = Protocol.human_attribute_name(:organizations)
