-# Copyright © 2011-2018 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.fixed-table-container.bootstrap-table-dropdown-overflow
  %table.protocol.details.custom_striped{ id: dom_id(protocol), data: { toggle: 'table', url: protocol_path(protocol, format: :json) } }
    %thead
      %tr
        %th{ data: { class: 'srid', align: 'left', field: 'srid' } }
          = t(:protocol)[:srid]
        %th{ data: { class: 'pi', align: 'left', field: 'pi' } }
          = t(:protocol)[:principal_investigator]
        %th{ data: { class: 'coordinators', align: 'center', field: 'coordinators' } }
          = t(:protocol)[:coordinators]
        %th{ data: { class: 'short_title', align: 'left', field: 'short_title' } }
          = t(:protocol)[:short_title]
        %th{ data: { class: 'irb_number', align: 'left', field: 'irb_number' } }
          = t(:protocol)[:irb_number]
        %th{ data: { class: 'irb_expiration_date', align: 'center', field: 'irb_expiration_date' } }
          = t(:protocol)[:irb_expiration_date]
        %th{ data: { class: 'study_schedule_report', align: 'center', field: 'study_schedule_report' } }
          = t(:protocol)[:study_schedule_report]
        %th{ data: { class: 'admin_portal_link', align: 'center', field: 'admin_portal_link' } }
          = t(:protocol)[:admin_portal_link]
        %th{ data: { align: 'center', field: 'organization_cost' } }
          = format_organization_name(protocol.sub_service_request)
        %th{ data: { align: 'center', field: 'study_cost' } }
          = t(:protocol)[:study_cost]
