.fixed-table-container.bootstrap-table-dropdown-overflow
  %table.protocol.details.custom_striped{id: dom_id(protocol), "data-toggle" => 'table', "data-url" => protocol_path(protocol.sparc_id, format: :json)}
    %thead
      %tr
        %th{data: {class: "sparc_id", align: "left", field: "sparc_id"}}
          = t(:protocol)[:sparc_id]
        %th{data: {class: "pi", align: "left", field: "pi"}}
          = t(:protocol)[:principal_investigator]
        %th{data: {class: "coordinators", align: "center", field: "coordinators"}}
          = t(:protocol)[:coordinators]
        %th{data: {class: "short_title", align: "left", field: "short_title"}}
          = t(:protocol)[:short_title]
        %th{data: {class: "irb_number", align: "left", field: "irb_number"}}
          = t(:protocol)[:irb_number]
        %th{data: {class: "irb_expiration_date", align: "center", field: "irb_expiration_date"}}
          = t(:protocol)[:irb_expiration_date]
