.col-xs-12
  .row.calendar
    .col-xs-12
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th.service
              = t(:study_level_activities)[:service]
            %th.qty_req
              = t(:study_level_activities)[:qty_req]
            %th.qty_type
              = t(:study_level_activities)[:qty_type]
            %th.qty_rem
              = t(:study_level_activities)[:qty_rem]
            %th.started
              = t(:study_level_activities)[:started]
            %th.last_fulfillment
              = t(:study_level_activities)[:last_fulfillment]
            %th.components
              = t(:study_level_activities)[:components]
            %th.notes
              = t(:study_level_activities)[:notes]
            %th.documents
              = t(:study_level_activities)[:documents]
            %th.fulfillments
              = t(:study_level_activities)[:fulfillments]
        %tbody
          -protocol.one_time_fee_line_items.each do |li|
            = render partial: "/study_level_activities/one_time_fee", locals: {line_item: li}
