#protocols_index
  .row
    #custom-toolbar
      %select.selectpicker= options_for_select(Protocol.statuses, "Complete")
    %table.custom_striped{id: "protocol-list", "data-toggle" => 'table', "data-search" => "true", "data-show-columns" => "true", "data-show-refresh" => "true", "data-show-toggle" => "true",  "data-url" => "/protocols.json", "data-sort-name" => 'sparc_id', "data-sort-order" => 'asc', "data-striped" => "true", "data-toolbar" => "#custom-toolbar"}
      %thead
        %tr
          %th{"data-align" => "left"}= t(:index_page)[:updates]
          %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "sparc_id"}= t(:index_page)[:sparc_id]
          %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "status"}= t(:index_page)[:status]
          %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "short_title"}= t(:index_page)[:short_title]
          %th{"data-align" => "left", "data-sortable" => "true", "data-field" => ""}= t(:index_page)[:principal_investigator]
          %th{"data-align" => "left", "data-sortable" => "true", "data-field" => ""}= t(:index_page)[:coordinators]
          %th{"data-align" => "center", "data-sortable" => "true", "data-field" => "irb_approval_date", "data-formatter" => "display_date"}= t(:index_page)[:irb_approval_date]
          %th{"data-align" => "center", "data-sortable" => "true", "data-field" => "irb_expiration_date", "data-formatter" => "display_date"}= t(:index_page)[:irb_expire_date]
          %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "irb_status"}= t(:index_page)[:irb_status]