#protocols_index
  .container
    .row
      #search_box.col-md-2= text_field_tag 'protocol_search', "", :class => "typeahead form-control"
      .statuses.col-md-4
        %select.selectpicker= options_for_select(Protocol.statuses, "Complete")
      %nav.navbar.navbar-default
        %ul.nav.navbar-nav
          %li= link_to "Financial View", "#"
          %li.active= link_to "Study Management View", "#"

    .row
      %table.table
        %colgroup
          %col
          %col.bordered
          %col.bordered
          %col.bordered
          %col.bordered
          %col.bordered
          %col.bordered
          %col
        %thead.custom_striped
          %th Changes
          %th Sparc ID
          %th Status
          %th Short Title
          %th Principal Investigator
          %th Coordinators
          %th IRB Approval Date
          %th Current IRB Expiration Date
        %tbody.custom_striped
          - search_items = []
          - @protocols.each do |protocol|
            - search_items << {:value => protocol.short_title, :short_title => protocol.short_title, :sparc_id => protocol.sparc_id}
            %tr{:class => "id_#{protocol.sparc_id} #{pretty_tag(protocol.short_title)}"}
              %td TODO: Updates
              %td= protocol.sparc_id
              %td= protocol.status
              %td= link_to protocol.short_title, "/protocols/#{protocol.id}/show"
              %td TODO: NEEDS IDENTITIES
              %td TODO: NEEDS IDENTITIES
              %td= protocol.irb_approval_date
              %td= protocol.irb_expiration_date
      %input.protocols_search_values{:value => search_items.to_json, :type => 'hidden'}
