#protocols_index
  .row
    #custom-toolbar
      %select.selectpicker.index_selectpicker= options_for_select(Protocol.statuses, "All")
    %table.custom_striped{id: "protocol-list", "data-toggle" => 'table', "data-search" => "true", "data-show-columns" => "true", "data-show-refresh" => "true", "data-show-toggle" => "true",  "data-url" => "/protocols.json", "data-sort-name" => 'sparc_id', "data-sort-order" => 'asc', "data-striped" => "true", "data-toolbar" => "#custom-toolbar"}
      %thead
        %tr
          %th{"data-align" => "left", "data-field" => "updates"}= t(:index_page)[:updates]
          %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "sparc_id"}= t(:index_page)[:sparc_id]
          %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "status"}= t(:index_page)[:status]
          %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "short_title"}= t(:index_page)[:short_title]
          %th{"data-align" => "left", "data-sortable" => "true", "data-field" => ""}= t(:index_page)[:principal_investigator]
          %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "coordinators"}= t(:index_page)[:coordinators]
          %th{"data-align" => "center", "data-sortable" => "true", "data-field" => "irb_approval_date"}= t(:index_page)[:irb_approval_date]
          %th{"data-align" => "center", "data-sortable" => "true", "data-field" => "irb_expiration_date"}= t(:index_page)[:irb_expire_date]
          %th{"data-align" => "center", "data-sortable" => "true", "data-field" => "irb_status"}= t(:index_page)[:irb_status]
          %th{"data-align" => "center", "data-sortable" => "true", "data-field" => "start_date"}= t(:index_page)[:start_date]
          %th{"data-align" => "center", "data-sortable" => "true", "data-field" => "end_date"}= t(:index_page)[:end_date]
          %th{"data-align" => "center", "data-sortable" => "true", "data-field" => "study_cost", "data-formatter" => "cents_to_dollars"}= t(:index_page)[:study_cost]
          %th{"data-align" => "center", "data-sortable" => "true", "data-field" => "stored_percent_subsidy", "data-formatter" => "number_to_percent"}= t(:index_page)[:subsidy_amount]
          %th{"data-align" => "center", "data-sortable" => "true", "data-field" => "subsidy_committed"}= t(:index_page)[:subsidy_committed]
          %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "subsidy_expended"}= t(:index_page)[:subsidy_expended]