= render partial: 'protocol', locals: { protocol: @protocol }
%div{role: 'tabpanel'}
  %ul.nav.nav-tabs.nav-justified{role: 'tablist'}
    - if @services_present
      %li.active.custom-tab.protocol-tab{role: 'presentation'}
        = link_to t(:protocol)[:tabs][:study_schedule], "#study_schedule", {"data-toggle" => 'tab', role: 'tab', "aria-controls" => 'study_schedule'}
      %li.custom-tab.protocol-tab{role: 'presentation'}
        = link_to t(:protocol)[:tabs][:participant_list], "#participant_list", {"data-toggle" => 'tab', role: 'tab', "aria-controls" => 'participant_list'}
      %li.custom-tab.protocol-tab{role: 'presentation'}
        = link_to t(:protocol)[:tabs][:participant_tracker], "#participant_tracker", {"data-toggle" => 'tab', role: 'tab', "aria-controls" => 'participant_tracker'}
    %li.custom-tab.protocol-tab{role: 'presentation', class: @services_present ? 'inactive' : 'active'}
      = link_to t(:protocol)[:tabs][:study_level_activities], "#study_level_activities", {"data-toggle" => 'tab', role: 'tab', "aria-controls" => 'study_level_activities'}
    %li.custom-tab.protocol-tab{role: 'presentation'}
      = link_to t(:protocol)[:tabs][:reports], "#reports", {"data-toggle" => 'tab', role: 'tab', "aria-controls" => 'reports'}
      %span.notification.protocol_report_notifications
        = @protocol.unaccessed_documents_count
        
  .tab-content
    - if @services_present
      .tab-pane.active#study_schedule{role: 'tabpanel'}
        = render partial: 'study_schedule/calendar', locals: {protocol: @protocol, page: @page, tab: (tab = cookies["active-schedule-tab".to_sym]) ? tab : 'template'}

      .tab-pane#participant_list{role: 'tabpanel'}
        = render partial: 'participant_list', locals: {protocol: @protocol, participant: @participant}

      .tab-pane#participant_tracker{role: 'tabpanel'}
        = render partial: 'participant_tracker', locals: {protocol: @protocol}

    .tab-pane#study_level_activities{role: 'tabpanel', class: @services_present ? 'inactive' : 'active'}
      = render partial: 'study_level_activities', locals: {protocol: @protocol}

    .tab-pane#reports{role: 'tabpanel'}
      = render 'reports'
