-# Copyright © 2011-2019 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

= render partial: 'protocol', locals: { protocol: @protocol }
= hidden_field_tag :protocol_id, @protocol.id
%div{role: 'tabpanel'}
  %ul.nav.nav-tabs.nav-justified{role: 'tablist'}
    - if @services_present && (ENV.fetch('CLINICAL_SERVICES') == 'true')
      %li.custom-tab.protocol-tab{role: 'presentation', class: (@current_protocol_tab == "study_schedule" ? "active" : "")}
        = link_to t(:protocol)[:tabs][(is_protocol_type_study? (@protocol)) ? :study_schedule : :project_schedule], "#study_schedule", {"data-toggle" => 'tab', role: 'tab', "aria-controls" => 'study_schedule'}
      %li.custom-tab.protocol-tab{role: 'presentation', class: (@current_protocol_tab == "participant_tracker" ? "active" : "")}
        = link_to t(:protocol)[:tabs][:participant_tracker], "#participant_tracker", {"data-toggle" => 'tab', role: 'tab', "aria-controls" => 'participant_tracker'}
    %li.custom-tab.protocol-tab{role: 'presentation', class: (@current_protocol_tab == "study_level_activities" ? "active" : "")}
      = link_to t(:protocol)[:tabs][(is_protocol_type_study? (@protocol)) ? :study_level_activities : :project_level_activities], "#study_level_activities", {"data-toggle" => 'tab', role: 'tab', "aria-controls" => 'study_level_activities'}
    %li.custom-tab.protocol-tab{role: 'presentation', :id => "protocol-reports-tab", class: (@current_protocol_tab == "reports" ? "active" : "")}
      = link_to t(:protocol)[:tabs][:reports], "#reports", {"data-toggle" => 'tab', role: 'tab', "aria-controls" => 'reports'}
      - if @protocol.unaccessed_documents_count > 0
        %span.notification.protocol_report_notifications
          = @protocol.unaccessed_documents_count

  .tab-content
    - if @services_present && (ENV.fetch('CLINICAL_SERVICES') == 'true')
      .tab-pane#study_schedule{role: 'tabpanel', class: (@current_protocol_tab == "study_schedule" ? "active" : "")}
        = render partial: 'study_schedule/calendar', locals: {protocol: @protocol, page: @page, tab: (cookies["active-schedule-tab".to_sym]) ? cookies["active-schedule-tab".to_sym] : 'template'}

      .tab-pane#participant_tracker{role: 'tabpanel', class: (@current_protocol_tab == "participant_tracker" ? "active" : "")}
        = render partial: 'participants/participant_tracker', locals: {protocol: @protocol}

    .tab-pane#study_level_activities{role: 'tabpanel', class: (@current_protocol_tab == "study_level_activities" ? "active" : "")}
      = render partial: 'study_level_activities', locals: {protocol: @protocol}

    .tab-pane#reports{role: 'tabpanel', class: (@current_protocol_tab == "reports" ? "active" : "")}
      = render 'reports'
