#edit_modal.modal-dialog
  .modal-content
    = form_for task, {remote: true, html: {class: "form-horizontal", role: "form"}} do |form|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only
            = t(:actions)[:close]
        %h4.modal-title.text-center
          = t(:procedure)[:edit_header]
      .modal-body
        #modal_errors
        = render partial: 'required_fields'
        .form-group
          = form.hidden_field :assignable_type, value: 'Procedure'
          = form.hidden_field :assignable_id, value: procedure.id
          = form.label "task_assignee_id", t(:task)[:assignee_name]+t(:actions)[:required], class: "col-sm-3 control-label"
          .col-sm-8= form.select :assignee_id, options_from_collection_for_select(clinical_providers.map(&:identity), 'id', 'full_name'), { include_blank: true }, { class: "form-control selectpicker" }
        .form-group
          = form.label "due_at", t(:procedure)[:follow_up_date]+t(:actions)[:required], class: "col-sm-3 control-label"
          .col-sm-8
            = form.text_field :due_at, {class: 'form-control datetimepicker', id: "follow_up_procedure_datepicker", readonly: true}
        .form-group
          = form.fields_for :notes, Note.new do |notes_form|
            = notes_form.hidden_field :notable_type, value: 'Procedure'

            = notes_form.hidden_field :notable_id, value: procedure.id

            = notes_form.hidden_field :kind, value: 'followup'
            = notes_form.label "comment", t(:notes)[:comment], class: "col-sm-3 control-label"
            .col-sm-8
              = notes_form.text_area :comment, {class: 'form-control', rows: "6"}
      .modal-footer
        .center-block
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}
            = t(:actions)[:close]
          %button.btn.btn-primary{type: 'submit'}
            =t(:actions)[:save]
