.row
  .col-md-12
    .page-header
      %h3= "Appointment: #{appointment.id}"
.row
  .col-md-3
    %form.form-horizontal
      .form-group
        %label.col-md-5.control-label{for: "appointment_start_date"} Start date:
        .col-md-6= text_field_tag 'appointment_start_date', format_date(appointment.start_date), class: 'form-control'
  .col-md-3.col-md-offset-6
    %form.form-horizontal
      .form-group
        %label.col-md-6.control-label{for: "appointment_completed_date"} Completed date:
        .col-md-6= text_field_tag 'appointment_completed_date', format_date(appointment.completed_date), class: 'form-control'
.row
  .col-md-12
    .calendar.participant
      .row.header
        .col-xs-2.text-center=t(:appointment)[:procedure]
        .col-xs-1.text-center=t(:appointment)[:r_t]
        .col-xs-2.text-center=t(:appointment)[:status]
        .col-xs-2.text-center=t(:appointment)[:incompletion]
        .col-xs-2.text-center=t(:appointment)[:follow_up]
        .col-xs-2.text-center=t(:appointment)[:notes]
        .col-xs-1.text-center=t(:appointment)[:remove]
      .row.core
      - appointment.procedures.each do |procedure|
        = [procedure.service_name, procedure.billing_type].join(': ')
        %br
