.col-xs-12
  .row.appointment{ data: { id: appointment.id } }
    .col-xs-12
      .row
        .col-xs-12
          .page-header
            %h3.appointment_header
              = "Visit: #{appointment.name}"
              = appointment_notes_formatter(appointment)
            .row
              .col-md-5
                = render partial: '/appointments/visit_type_dropdown'
              .col-md-5.col-md-offset-2.text-right
                = render partial: '/appointments/visit_indications_dropdown'
      .row
        = render partial: '/appointments/start_complete_buttons', locals: { appointment: appointment }
      .row.calendar
        .col-xs-12
          - appointment.procedures_grouped_by_core.each do |core_id, procedures|
            = render partial: '/appointments/core', locals: {core_id: core_id, procedures: procedures, appointment: appointment}
      .row.services
        .col-xs-4
          = select_tag "service_list", options_from_collection_for_select(appointment.protocol.organization.inclusive_child_services(:per_participant), "id", "name"), class: 'form-control selectpicker'
        .col-xs-2
          = text_field_tag "service_quantity", 1, class: "form-control"
        .col-xs-2
          %button.btn.btn-success.add_service
            = t(:appointment)[:add_service]
