%tr.core{data: {core: {id: core_id}}}
  %td{colspan: 8}
    %table.table.procedures
      %thead
        %th.title{colspan: 8}
          = procedures.first.sparc_core_name
          .btn-group.pull-right
            .btn-group
              = select_tag 'core_multiselect', nil, class: 'core_multiselect', style: 'display: inline-block', multiple: true
              %button.btn.btn-default.btn-primary.multiselect{ type: 'button', id: "core_#{core_id}_multiselect_complete_all" } Complete All
              %button.btn.btn-default.btn-warning.multiselect{ type: 'button', id: "core_#{core_id}_multiselect_incomplete_all" } Incomplete All
      %tbody
        = render partial: 'appointments/procedure', collection: procedures, as: :procedure
