%tr.core{data: {core: {id: core_id}}}
  %td{colspan: 8}
    %table.table.procedures
      %thead
        %th.title{colspan: 8}
          = "#{procedures.first.sparc_core_name}"
          .complete-all-container{ class: "#{ procedures.first.appt_started? ? '' : 'contains_disabled' }" }
            %button.btn.btn-xs.btn-primary.complete_all_button{class:  "#{ procedures.first.appt_started? ? '' : 'disabled' }", data:{core_id: "#{core_id}"}, :style =>"margin-left: 5px;"}=t(:procedure)[:complete]
      %tbody
        = render partial: 'appointments/procedure', collection: procedures, as: :procedure
