-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.modal-dialog
  .modal-content
    = form_with model: appointment, local: false do |f|
      = f.hidden_field :protocols_participant_id
      = f.hidden_field :arm_id
      .modal-header
        %h4.modal-title
          = t('appointments.edit_header')
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t('actions.close') } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        .form-group
          .row.align-items-center
            = f.label "name", Appointment.human_attribute_name(:name), class: "control-label required col-sm-4 mb-0"
            .col-sm-8
              = f.text_field :name, {class: 'form-control', id: "custom_visit_name"}
        .form-group
          .row.align-items-center
            = f.label "position", Appointment.human_attribute_name(:position), class: "control-label col-sm-4 mb-0"
            .col-sm-8
              = f.select "position", options_from_collection_for_select(appointment.arm.appointments.where(protocols_participant_id: appointment.protocols_participant_id), 'position', 'insertion_name') << app_add_as_last_option(appointment), {include_blank: ''}, class: "form-control selectpicker visit-group-position", id: "custom_visit_position"
        = f.fields_for :notes, note do |nf|
          = nf.hidden_field :kind
          = nf.hidden_field :identity_id, value: current_identity.id
          .form-group
            .row.align-items-center
              = nf.label "reason", t(:notes)[:reason], class: "control-label required col-sm-4 mb-0"
              .col-sm-8
                = nf.select :reason, Appointment::NOTABLE_REASONS, {include_blank: ''}, class: "form-control selectpicker", id: "custom_visit_reason"
          .form-group
            .row.align-items-center
              = nf.label "comment", t(:notes)[:comment], class: "control-label col-sm-4 mb-0"
              .col-sm-8
                = nf.text_area :comment, {class: 'form-control', rows: "6", id: "custom_visit_comment"}
      .modal-footer
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]
        = f.submit t('actions.submit'), class: 'btn btn-primary'

-#      .modal-footer
-#        .center-block
-#          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}
-#            = t(:actions)[:close]
-#          %span.add-visit-wrapper{ title: 'You must select a position', data: { toggle: 'tooltip', animate: 'false' } }
-#            %input.btn.btn-primary.add-visit{type: 'submit', value: t(:actions)[:add]}
