.row.procedure{id: "procedure_#{procedure.id}"}
  .col-xs-2.col= procedure.service_name
  .col-xs-1.billing_type
    .col= select_tag "quantity_type_#{procedure.id}", options_for_select(Procedure.billing_display, procedure.billing_type), class: "form-control"
  .col-xs-2
    .form-group
      %div
        %input{name: "status_#{procedure.id}", type: "radio", id: "status_#{procedure.id}", value: "complete"}
        Complete
      %div
        %input{name: "status_#{procedure.id}", type: "radio", id: "status_#{procedure.id}", value: "incomplete"}
        Incomplete
  .col-xs-2
    .col= select_tag "reason_#{procedure.id}", options_for_select(["r","t","o"],"r"), class: "form-control"
  .col-xs-2.text-center
    .col.follow_up_date
      = text_field_tag "follow_up_date_#{procedure.id}", procedure.display_follow_up, class: "text-center " + (procedure.follow_up_date.blank? ? "hidden" : ""), readonly: true
      .glyphicon.glyphicon-calendar.btn.btn-warning{class: procedure.follow_up_date.blank? ? "" : "hidden"}
  .col-xs-2.text-center
    .col
      .glyphicon.glyphicon-plus.btn.btn-success
      .glyphicon.glyphicon-list-alt.btn.btn-primary
  .col-xs-1.text-center
    .col
      .glyphicon.glyphicon-remove.btn.btn-danger.remove_procedure{procedure_id: procedure.id, appointment_id: procedure.appointment_id}
