.row.procedure{id: "procedure_#{procedure.id}", "procedure-status" => procedure.status || ""}
  .col-xs-2.col= procedure.service_name
  .col-xs-1.billing_type
    .col= select_tag "quantity_type_#{procedure.id}", options_for_select(Procedure.billing_display, procedure.billing_type), class: "form-control"
  .col-xs-2
    .form-group
      %div
        %input{class: "complete", name: "status_#{procedure.id}", type: "radio", id: "status_complete_#{procedure.id}", value: "#{procedure.id}", checked: procedure.status == 'complete'}
        Complete
      %div
        %input{class: "incomplete", name: "status_#{procedure.id}", type: "radio", id: "status_incomplete_#{procedure.id}", value: "#{procedure.id}", checked: procedure.status == 'incomplete'}
        Incomplete
  .col-xs-2
    .col= select_tag "reason_#{procedure.id}", options_for_select(["r","t","o"],"r"), class: "form-control"
  .col-xs-2.text-center
    .col.follow_up_date
      = text_field_tag "follow_up_date_#{procedure.id}", procedure.display_follow_up, class: procedure.follow_up_date.blank? ? "hidden" : "", readonly: true
    .glyphicon.glyphicon-calendar.btn.btn-warning#follow_up{class: procedure.follow_up_date.blank? ? "" : "hidden"}
      = link_to '', '#'
  .col-xs-2.text-center
    .col
      .glyphicon.glyphicon-plus.btn.btn-success.add_note{value: "#{procedure.id}"}
      .glyphicon.glyphicon-list-alt.btn.btn-primary.display_notes{value: "#{procedure.id}"}
  .col-xs-1.text-center
    .col
      .glyphicon.glyphicon-remove.btn.btn-danger
