%tr.procedure{data: {"id" => procedure.id}}
  %td.name.truncate= procedure.service_name
  %td.r-t
    = select_tag "quantity_type_#{procedure.id}", options_for_select(Procedure.billing_display, procedure.billing_type), class: "form-control"
  %td.status
    .btn-group{data: {toggle: "buttons"}}
      %label.status.complete{class: "btn btn-default #{procedure.complete? ? 'selected_before active' : ''}"}
        %input{class: "procedure_status", type: "radio", value: "complete", autocomplete: "off", id: "complete_button_#{procedure.id}"} Complete
      %label.status.incomplete{class: "btn btn-default #{procedure.incomplete? ? 'active': ''}"}
        %input{class: "procedure_status", type: "radio", value: "incomplete", autocomplete: "off", id: "incomplete_button_#{procedure.id}"} Incomplete
  %td.followup
    = render partial: "appointments/followup_calendar", locals: {procedure: procedure}
  %td.completed-date
    .input-group.date
      %input.completed_date_field.datetimepicker{type: "text", class: "form-control", disabled: !procedure.completed_date.present?, value: format_date(procedure.completed_date)}
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
  %td.notes
    %button.btn.btn-primary.note.new{type: "button", aria: {label: "New Note"}, data: {notable_id: procedure.id, notable_type: "Procedure"}}
      %span.glyphicon.glyphicon-plus{aria: {hidden: "true"}}
    %button.btn.btn-primary.notes.list{type: "button", aria: {label: "Notes List"}, data: {notable_id: procedure.id, notable_type: "Procedure"}}
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
  %td.remove
    %button.btn.btn-danger.delete{type: "button", aria: {label: "Remove Procedure"}}
      %span.glyphicon.glyphicon-remove{aria: {hidden: "true"}}
