.row.procedure{data: {id: procedure.id}}
  .col-xs-2.name= procedure.service_name
  .col-xs-1.billing_type
    .text-center
      = select_tag "quantity_type_#{procedure.id}", options_for_select(Procedure.billing_display, procedure.billing_type), class: "form-control"
  .col-xs-3.status
    .text-center
      .btn-group{data: {toggle: "buttons"}}
        %label.status.complete{class: "btn btn-default #{procedure.complete? ? 'active' : ''}"}
          %input{class: "procedure_status", type: "radio", value: "complete", autocomplete: "off"} Complete
        %label.status.incomplete{class: "btn btn-default #{procedure.incomplete? ? 'active' : ''}"}
          %input{class: "procedure_status", type: "radio", value: "incomplete", autocomplete: "off"} Incomplete
  .col-xs-3.followup
    .text-center
      = render partial: "appointments/followup_calendar", locals: {procedure: procedure}
  .col-xs-2.notes
    .text-center
      %button.btn.btn-primary.note.new{type: "button", aria: {label: "New Note"}}
        %span.glyphicon.glyphicon-plus{aria: {hidden: "true"}}
      %button.btn.btn-primary.notes.list{type: "button", aria: {label: "Notes List"}}
        %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
  .col-xs-1
    .text-center
      %button.btn.btn-danger.procedure.delete{type: "button", aria: {label: "Remove Procedure"}}
        %span.glyphicon.glyphicon-remove{aria: {hidden: "true"}}
