-# Copyright © 2011-2016 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.col-xs-4.start-col
  .start_date_input{class: hidden_class(appointment.start_date.blank?)}
    %form.form-horizontal
      .form-group
        %label.col-xs-1.control-label#start-date-label{for: 'start_date'}= t(:appointment)[:start_date]
        .col-xs-6
          = text_field_tag 'start_date', '', class: 'form-control', readonly: true
        .col-xs-1.reset_button
          %button.btn.btn-warning.reset_visit{type: "button"}= t(:appointment)[:reset_visit]

  .start_date_btn{class: hidden_class(!appointment.start_date.blank?) }
    %button.btn.btn-success.start_visit= t(:appointment)[:start_visit]

.col-xs-4.col-xs-offset-4.complete-col
  .completed_date_input{class: hidden_class(appointment.completed_date.blank?)}
    %form.form-horizontal
      .form-group
        %label.col-xs-1.control-label#completed-date-label{for: 'completed_date'}= t(:appointment)[:completed_date]
        .col-xs-6
          = text_field_tag 'completed_date', '', class: 'form-control', readonly: true
        .col-xs-1#remove_completed_date_button
          %button.btn.btn-danger.uncomplete_visit{type: "button"}
            %span.glyphicon.glyphicon-remove

  .completed_date_btn{class: [hidden_class(!appointment.completed_date.blank?), contains_disabled_class(!appointment.can_finish?)].join(' ')}
    %button.btn.btn-danger.complete_visit{class: disabled_class(!appointment.can_finish?) }= t(:appointment)[:complete_visit]
