-# Copyright © 2011-2019 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.navbar.navbar-default
  .container
    - if identity_signed_in?
      %ul.nav.navbar-nav.navbar-left
        %li
          = link_to root_path do
            %span.glyphicon.glyphicon-home{aria: {hidden: "true"}}
            Home
        %li
          = link_to tasks_path, class: 'tasks' do
            %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
            = t(:navbar)[:tasks_link]
            - if current_identity.tasks_count > 0
              %span.notification.task-notifications
                = current_identity.tasks_count
        %li
          = link_to documents_path, class: 'documents' do
            %span.glyphicon.glyphicon-equalizer{aria: {hidden: "true"}}
            = t(:navbar)[:reports_link]
            - if current_identity.unaccessed_documents_count > 0
              %span.notification.identity_report_notifications
                = current_identity.unaccessed_documents_count

        %li
          = link_to imports_path, class: 'imports' do
            %span.glyphicon.glyphicon-import{aria: {hidden: "true"}}
            = t(:navbar)[:imports_link]
        - if current_identity.is_a_patient_registrar? && (ENV.fetch('CLINICAL_SERVICES') == 'true')
          %li
            = link_to participants_path, class: 'patient_registry' do
              %span.glyphicon.glyphicon-user{aria: {hidden: "true"}}
              = t(:navbar)[:patient_registry_link]

        = yield :nav_buttons
      %ul.nav.navbar-nav.navbar-right
        %li
          = logged_in(current_identity)
        - if session[:breadcrumbs] && session[:breadcrumbs].present?
          %li
            = link_to back_link(session[:breadcrumbs].last), id: 'history-back', title: generate_history_text(session[:breadcrumbs].last), aria: {label: "Go Back"}, data: {toggle: "tooltip", animation: 'false'} do
              %span.glyphicon.glyphicon-arrow-left{aria: {hidden: "true"}}
              Back
              #history-menu
                %ul.dropdown-menu{role: 'menu'}
                  - session[:breadcrumbs].reverse.each do |url|
                    %li= link_to generate_history_text(url), url
        %li
          = link_to(destroy_identity_session_path, id: "sign-out-link", method: :delete, data: { confirm: "Are you sure you want to sign out?" }) do
            %span.glyphicon.glyphicon-log-out{aria: {hidden: "true"}}
            Sign out
