.row.line_item{id: "line_item_#{line_item.id}"}
  .col-xs-3= select_tag "line_item_select_#{line_item.id}", options_from_collection_for_select(Service.all_services, "id", "name", line_item.service_id), class: "form-control line_item_service", line_item_id: line_item.id
  .col-xs-1.text-center= line_item.subject_count
  .col-xs-1.text-center
    .glyphicon.check_row.btn.btn-primary{:'data-line_item_id' => line_item.id, check: "#{set_check(line_item)}", class: "#{glyph_class(line_item)}"}
  %div{class: "visits_for_line_item_#{line_item.id}"}
    = render partial: '/service_calendar/visits', locals: {line_item: line_item, page: page, tab: 'template'}
  .col-xs-1.text-center
    .btn.btn-danger.glyphicon.glyphicon-remove.remove_line_item{:'data-line_item_id' => "#{line_item.id}"}
