- arm = Sparc::Arm.where(id: arm.sparc_id).first if tab == "consolidated" && Sparc::Arm.where(id: arm.sparc_id).any?
- arm.line_items_grouped_by_core.each do |core, line_items|
  .row.core{id: "arm_#{arm.id}_core_#{core.id}"}
    .col-xs-12= "#{core.name}"
  - line_items.each do |li|
    = render partial: 'service_calendar/line_item', locals: {line_item: li, page: page, tab: tab}
  %div{id: "arm_#{arm.id}_end_of_core_#{core.id}"}
