- # Container for calendar
.service-calendar{class: "arm_#{arm.id}"}
  - # Headers (Services, Number of Participants, Visit Navigation, Empty for deleting line items)
  .row
    .col-sm-3.col-md-3.text-center.header Services
    .col-sm-1.col-md-1.text-center.header N
    .col-sm-1.col-md-1.header
      &nbsp
    .col-sm-5.col-md-5.text-center.header
      .row.header
        -# The previous page arrow
        .col-sm-2.col-md-2
          .btn.btn-info.glyphicon.glyphicon-arrow-left{id: "arrow-left-#{arm.id}", :'data-arm_id' => "#{arm.id}", page: page - 1, disabled: "true", role: 'button'}
        -# The visit jump to drop down
        .col-sm-6.col-md-6
          = select_tag "visits_select_for_#{arm.id}", visits_select_options(arm), class: 'visit_dropdown', :'data-arm_id' => "#{arm.id}", page: page
        -# The next page arrow
        .col-sm-2.col-md-2
          .btn.btn-info.glyphicon.glyphicon-arrow-right{id: "arrow-right-#{arm.id}", :'data-arm_id' => "#{arm.id}", page: page + 1, disabled: arm.visit_count < Visit.per_page}
      .row.header{class: "visit_groups_for_#{arm.id}"}
        = render partial: '/service_calendar/visit_groups', locals: {arm: arm, page: page}
    .col-sm-2.col-md-2.header
      &nbsp
  - # Display Arm Name
  .row.arm-name
    .col-sm-12.col-md-12= arm.name
  .row
    .scrolling-div.col-md-12.col-sm-12
      - current_core = ''
      - arm.line_items.each do |line_item|
        - if line_item.sparc_core_name != current_core
          - current_core = line_item.sparc_core_name
          .row.core{id: "arm_#{arm.id}_core_#{line_item.sparc_core_id}"}
            .col-sm-12.col-md-12= current_core
        = render partial: 'service_calendar/line_item', locals: {line_item: line_item, page: page}
