.modal-dialog
  .modal-content
    = form_tag reports_path, remote: true, class: "form-horizontal", role: "form" do
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only= t(:actions)[:close]
        %h4.modal-title.text-center= t(:reports)[:auditing_report]
      .modal-body
        #modal_errors
        .row
          .col-md-12
            = hidden_field_tag "report_type", report_type
            .form-group
              =label_tag "title", t(:documents)[:title], class: "col-sm-3 control-label"
              .col-sm-9= text_field_tag "title", title, class: "form-control"
            .form-group
              = label_tag "start_date", t(:reports)[:start_date], class: "col-sm-3 control-label"
              .col-sm-9= text_field_tag "start_date", nil, class: "datepicker form-control"
            .form-group
              = label_tag "end_date", t(:reports)[:end_date], class: "col-sm-3 control-label"
              .col-sm-9= text_field_tag "end_date", nil, class: "datepicker form-control"
            .form-group
              = label_tag "protocol", t(:reports)[:protocols], class: "col-sm-3 control-label"
              .col-sm-9
                = select_tag "protocol_ids", options_from_collection_for_select(current_identity.protocols, "id", "short_title_with_sparc_id"), multiple: true, 'data-live-search' => true, class: "selectpicker form-control"
              .col-sm-9.col-sm-offset-3
                %p= t(:reports)[:protocol_instructions]
      .modal-footer
        .center-block
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]
          %input.btn.btn-primary{type: 'submit', value: t(:reports)[:request_report]}
