.form-group
  = form.label 'title', t(:reports)[:title], class: 'col-sm-3 control-label'
  .col-sm-7
    = form.text_field :title, class: 'form-control', autofocus: true, placeholder: t(:reports)[:title], required: true
.form-group
  = form.label 'start_date', t(:reports)[:start_date], class: 'col-sm-3 control-label'
  .col-sm-7
    = form.text_field :start_date, class: 'form-control datepicker'
.form-group
  = form.label 'end_date', t(:reports)[:end_date], class: 'col-sm-3 control-label'
  .col-sm-7
    = form.text_field :end_date, class: 'form-control datepicker'
