.modal-dialog
  .modal-content
    = form_tag(create_participant_report_reports_path, remote: true, class: "form-horizontal", role: "form") do |f|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only= t(:actions)[:close]
        %h4.modal-title.text-center= t(:reports)[:participant_report]
      .modal-body
        #modal_errors
        .row
          .col-md-12
            .form-group
              = label_tag "participant", t(:reports)[:participant], class: "col-sm-3 control-label"
              .col-sm-9
                = select_tag "participant_id", options_from_collection_for_select(@participants, "id", "full_name_with_label"), class: "selectpicker form-control"

      .modal-footer
        .center-block{style: "width: 205px;"}
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]
          %input.btn.btn-primary{type: 'submit', value: t(:reports)[:request_report]}
