!!!
%html
  %head
    %title ClinicalWorkFulfillment
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body{class:body_class}
    #header_top
      .container
        = link_to image_tag("sctr_logo.png"), "http://sctr.musc.edu", :id => "logo_left", :class => "pull-left"
        = link_to image_tag("musc_logo.gif"), "http://www.musc.edu", :id => "logo_right", :class => "pull-right"
    #header_bottom
      .container
        .pull-left
          - if user_signed_in?
            %div
              = current_user.email
              = link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-danger"
          - else
            %div= link_to "Sign in", new_user_session_path, :class => "btn btn-success"
        .pull-right
          = render :partial => 'shared/nav_buttons'
    .container
      .alerts
        - if notice
          .alert.alert-success.alert-dismissible{:role => "alert"}
            %button.close{:'data-dismiss' => "alert", :type => "button"}
              %span{:'aria-hidden' => "true"} &times;
              %span.sr-only Close
            = notice
        - if alert
          .alert.alert-danger.alert-dismissible{:role => "alert"}
            %button.close{:'data-dismiss' => "alert", :type => "button"}
              %span{:'aria-hidden' => "true"} &times;
              %span.sr-only Close
            = alert
      = yield
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://localhost:9292/faye/faye.js'
