!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ "http-equiv"=>"X-UA-Compatible", "content"=>"IE=edge"}
    %title= t('default_title') 
    :javascript
      window.I18n = #{current_translations.to_json.html_safe}
    = javascript_include_tag 'libraries'
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    = include_gon
  %body{class: body_class}
    .container-fluid
      .row.header= render "header"
      .row.nav= render "nav"
    .container
      .row.flash= render "flash"
      = yield
    #footer &nbsp
    = render 'modal'
    = render 'javascript'
