!!!
%html
  %head
    %title Clinical Work Fulfillment
    = javascript_include_tag 'libraries'
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    = include_gon
  %body{class: body_class}
    .container-fluid
      .row.header= render "header"
      .row.nav= render "nav"
    .container
      .row.flash= render "flash"
      = yield
    = render 'javascript'
