-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

- arm_id = protocols_participant.arm.id
- appointments  = protocols_participant.appointments.where(arm: arm_id).eager_load(:visit_group)
- appointment ||= appointments.first

.w-20.pr-3#appointmentsList
  .card
    .card-header.justify-content-between
      %h3.mb-0
        = Appointment.model_name.plural.humanize
      = link_to new_appointment_path(protocols_participant_id: protocols_participant.id, arm_id: arm_id), remote: true, id: "new_appointment_button", class: 'btn btn-success ml-1' do
        = icon('fas', 'plus')
    .card-header
      = form_with model: protocols_participant, url: protocol_participant_path(protocols_participant.protocol, protocols_participant), method: 'PUT', local: false, html: { class: 'w-100' } do |f|
        = f.select :arm_id, protocols_participant_calendar_arm_options(protocols_participant), {}, class: 'selectpicker', id: "change_arm_dropdown", onchange: "Rails.fire(this.form, 'submit')"
    .list-group.list-group-flush
      - appointments.each do |appt|
        = link_to appointment_path(appt), remote: true, class: ['list-group-item list-group-item-action d-flex justify-content-between appointment-link', appt == appointment ? 'active' : ''], data: { appointment_id: appt.id } do
          %span.w-90
            = appt.formatted_name
          %span.w-10.text-center
            = appointment_context_icon(appt)
